<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncQueueName</key>
	<string>capsuleAlongStage</string>
	<key>otherDurationMomentum</key>
	<string>immediateSpineMomentum</string>
	<key>singleEventAcceleration</key>
	<string>intensityCompositeTension</string>
	<key>utilOrStyle</key>
	<string>descriptionKindVelocity</string>
</dict>
</plist>
