<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentViaBuffer</key>
	<string>awaitParameterDepth</string>
	<key>asyncOverlayRotation</key>
	<string>tweenIncludeLevel</string>
	<key>effectParamMode</key>
	<string>diffableParticleInteraction</string>
	<key>futureAwayProxy</key>
	<string>spinePatternAppearance</string>
	<key>mediaqueryInFunction</key>
	<string>interactorVarMargin</string>
	<key>navigatorWithoutBridge</key>
	<string>boxshadowFunctionAcceleration</string>
	<key>rectNearPrototype</key>
	<string>mutableScaleSkewy</string>
	<key>riverpodWithoutStyle</key>
	<string>resolverContainFlyweight</string>
	<key>routeContextCoord</key>
	<string>serviceJobInterval</string>
</dict>
</plist>
