<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderProcessOrientation</key>
	<string>frameWithoutShape</string>
	<key>custompaintExceptVar</key>
	<string>segmentUntilActivity</string>
	<key>discardedSinkStyle</key>
	<string>tweenAboutVar</string>
	<key>dynamicControllerBottom</key>
	<string>controllerShapeTheme</string>
	<key>featureTypeVelocity</key>
	<string>indicatorViaFramework</string>
	<key>inheritedProjectBorder</key>
	<string>enabledTableRate</string>
	<key>mobileSinceForm</key>
	<string>statelessGetxFeedback</string>
	<key>observerTempleTension</key>
	<string>routeMethodDelay</string>
	<key>themeChainTail</key>
	<string>reactiveSceneDepth</string>
</dict>
</plist>
