<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerBuilderSpacing</key>
	<string>draggableEffectStyle</string>
	<key>expandedPatternInteraction</key>
	<string>offsetBeyondProcess</string>
	<key>intermediateCosineFeedback</key>
	<string>bufferParamPosition</string>
	<key>managerParameterPadding</key>
	<string>difficultNavigatorPosition</string>
	<key>popupAmongScope</key>
	<string>materialOrPlatform</string>
	<key>prevChapterBorder</key>
	<string>seamlessAxisFrequency</string>
	<key>resilientBuilderState</key>
	<string>featureProxyOrigin</string>
	<key>semanticsAdapterType</key>
	<string>injectionMementoVisibility</string>
	<key>viewJobVisible</key>
	<string>marginTempleSpeed</string>
</dict>
</plist>
