<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directFragmentFlags</key>
	<string>publicCompletionContrast</string>
	<key>eagerRowForce</key>
	<string>configurationForOperation</string>
	<key>futureThroughTemple</key>
	<string>widgetVarIndex</string>
	<key>integerAboutChain</key>
	<string>vectorIncludeScope</string>
	<key>lazyTextStatus</key>
	<string>matrixAroundBridge</string>
	<key>musicWithoutVisitor</key>
	<string>richtextThanValue</string>
</dict>
</plist>
