<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loopInterpreterBehavior</key>
	<string>requestStrategyTension</string>
	<key>primaryActivityBottom</key>
	<string>catalystStateName</string>
	<key>sophisticatedTextureBehavior</key>
	<string>inkwellLikeActivity</string>
	<key>usageTierRight</key>
	<string>disabledBaselineShape</string>
</dict>
</plist>
