<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationFacadeTheme</key>
	<string>positionVersusPattern</string>
	<key>gestureWithoutShape</key>
	<string>streamMementoDirection</string>
	<key>tappableNotifierTag</key>
	<string>futureFromPattern</string>
	<key>themeWithoutValue</key>
	<string>adaptiveAspectratioTransparency</string>
</dict>
</plist>
