<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateModeTension</key>
	<string>allocatorWorkAcceleration</string>
	<key>callbackFunctionTag</key>
	<string>inkwellBesideProcess</string>
	<key>descriptorMementoResponse</key>
	<string>expandedFromType</string>
	<key>featureDespiteCommand</key>
	<string>pinchableCupertinoFlags</string>
	<key>titleOrParameter</key>
	<string>pinchableCapacitiesBottom</string>
	<key>utilStrategyInset</key>
	<string>precisionAgainstCycle</string>
</dict>
</plist>
