<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertBeyondShape</key>
	<string>graphVisitorInteraction</string>
	<key>composableLayerCoord</key>
	<string>enabledTransitionTag</string>
	<key>crucialThreadType</key>
	<string>factoryAboutStage</string>
	<key>layoutOutsideValue</key>
	<string>builderVisitorTag</string>
	<key>permissiveAnimationHue</key>
	<string>listviewKindRotation</string>
	<key>remainderCompositeOffset</key>
	<string>asyncChainOrientation</string>
</dict>
</plist>
