<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveNearFramework</key>
	<string>serviceProxyAppearance</string>
	<key>monsterOutsideOperation</key>
	<string>compositionAsFacade</string>
	<key>navigatorCycleDirection</key>
	<string>resultParameterPadding</string>
	<key>particleAroundChain</key>
	<string>requestTaskBottom</string>
	<key>prismaticResourceLocation</key>
	<string>delicateDescriptionSaturation</string>
	<key>streamIncludeMethod</key>
	<string>sinkBufferTint</string>
	<key>textDespiteNumber</key>
	<string>equalizationMediatorVisibility</string>
	<key>typicalGateColor</key>
	<string>transitionShapeCoord</string>
</dict>
</plist>
