<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionInsideComposite</key>
	<string>retainedChartKind</string>
	<key>geometricDecorationCenter</key>
	<string>transitionFlyweightColor</string>
	<key>queryFromVar</key>
	<string>masterBufferInset</string>
	<key>resolverBesideInterpreter</key>
	<string>injectionBufferCoord</string>
	<key>zoneChainName</key>
	<string>mediocreSliderPressure</string>
</dict>
</plist>
