<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationActionDistance</key>
	<string>mediumObserverMomentum</string>
	<key>builderFromParam</key>
	<string>allocatorBesideParameter</string>
	<key>missionOutsideKind</key>
	<string>resourceChainInterval</string>
	<key>normDespiteChain</key>
	<string>fusedResourceFormat</string>
	<key>queueLevelContrast</key>
	<string>accessibleHeapInset</string>
	<key>responsiveRowSpeed</key>
	<string>scaffoldUntilInterpreter</string>
	<key>usecaseProxyDuration</key>
	<string>textureExceptParameter</string>
</dict>
</plist>
