<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetPerMediator</key>
	<string>originalPlaybackMode</string>
	<key>configurationFormPressure</key>
	<string>captionStyleLeft</string>
	<key>consultativeOperationTheme</key>
	<string>constAnimationPosition</string>
	<key>decorationBeyondKind</key>
	<string>queueInsideObserver</string>
	<key>eventOrFramework</key>
	<string>durationForPlatform</string>
	<key>pinchableCanvasColor</key>
	<string>hashThanVar</string>
	<key>profilePerActivity</key>
	<string>crudeNavigatorTheme</string>
	<key>smallManagerShade</key>
	<string>unaryAwayPattern</string>
</dict>
</plist>
