<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationStructureSaturation</key>
	<string>missedCharacterBound</string>
	<key>behaviorVariableInset</key>
	<string>compositionalIntensityLeft</string>
	<key>currentTimerEdge</key>
	<string>zoneAgainstValue</string>
	<key>intermediateSkirtTail</key>
	<string>fixedAnimatedcontainerStyle</string>
	<key>reusableChartStyle</key>
	<string>masterAsEnvironment</string>
	<key>substantialServiceHead</key>
	<string>sizeStrategyTail</string>
	<key>unsortedGatePressure</key>
	<string>requiredFeatureBehavior</string>
</dict>
</plist>
