<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryFacadeInset</key>
	<string>scrollableOverlayOffset</string>
	<key>compositionOrForm</key>
	<string>delegateDespiteParam</string>
	<key>equipmentVisitorPressure</key>
	<string>widgetIncludeScope</string>
	<key>explicitRowSkewx</key>
	<string>resourceOutsideNumber</string>
	<key>featureMementoAcceleration</key>
	<string>characterLayerSkewy</string>
	<key>gemAboutStrategy</key>
	<string>activatedAsyncSpacing</string>
	<key>navigatorStructureEdge</key>
	<string>crucialCharacterTag</string>
	<key>pointAboutState</key>
	<string>awaitBridgeCenter</string>
	<key>singletonVariableTransparency</key>
	<string>staticReductionTint</string>
	<key>vectorInterpreterDelay</key>
	<string>scaffoldChainEdge</string>
</dict>
</plist>
