<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelLevelFlags</key>
	<string>sliderSystemOrientation</string>
	<key>commonGridOrientation</key>
	<string>storeAsValue</string>
	<key>desktopTitleTail</key>
	<string>dependencyProcessBorder</string>
	<key>directlyFutureMode</key>
	<string>statelessUntilOperation</string>
	<key>documentWithoutTier</key>
	<string>modulusLevelStyle</string>
	<key>drawerAroundAction</key>
	<string>hardSegmentDelay</string>
	<key>materialNearFacade</key>
	<string>localizationTierPressure</string>
	<key>rectMediatorScale</key>
	<string>sessionBeyondTask</string>
	<key>reductionIncludePattern</key>
	<string>toolAlongCommand</string>
	<key>uniformBehaviorCenter</key>
	<string>webCycleMomentum</string>
</dict>
</plist>
