<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSubscriptionOpacity</key>
	<string>alignmentContainStructure</string>
	<key>batchWorkDepth</key>
	<string>assetStructureTag</string>
	<key>equalizationLayerSaturation</key>
	<string>serviceShapePadding</string>
	<key>explicitControllerRotation</key>
	<string>queueSincePhase</string>
	<key>masterObserverStyle</key>
	<string>blocNearSystem</string>
	<key>sessionParamAcceleration</key>
	<string>hierarchicalLayoutVelocity</string>
	<key>uniqueLayoutRotation</key>
	<string>retainedSineScale</string>
</dict>
</plist>
