<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityOperationSkewx</key>
	<string>actionAlongState</string>
	<key>largeResultState</key>
	<string>providerOrLevel</string>
	<key>modulusThanEnvironment</key>
	<string>geometricCallbackForce</string>
	<key>mutableDelegateTint</key>
	<string>injectionSinceMode</string>
	<key>observerDespiteStructure</key>
	<string>sliderStructureContrast</string>
	<key>sineSingletonAppearance</key>
	<string>lazyAllocatorResponse</string>
</dict>
</plist>
