<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAmongActivity</key>
	<string>diversifiedButtonShade</string>
	<key>localizationSinceProxy</key>
	<string>disabledGemCenter</string>
	<key>publicBufferTail</key>
	<string>denseSegueDepth</string>
	<key>spriteInKind</key>
	<string>declarativeEffectAcceleration</string>
</dict>
</plist>
