<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerVisitorHue</key>
	<string>popupInsideNumber</string>
	<key>dependencyFlyweightBehavior</key>
	<string>mainTopicMomentum</string>
	<key>robustConfigurationScale</key>
	<string>methodFrameworkIndex</string>
	<key>rowVisitorStatus</key>
	<string>activeTopicState</string>
	<key>sineKindStatus</key>
	<string>sceneTypeTension</string>
	<key>sustainableApertureSkewx</key>
	<string>groupStyleContrast</string>
	<key>tensorResponseVelocity</key>
	<string>popupAtFlyweight</string>
</dict>
</plist>
