<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonKindFlags</key>
	<string>enabledIsolateStatus</string>
	<key>canvasJobAppearance</key>
	<string>challengeLikeFunction</string>
	<key>handlerMediatorEdge</key>
	<string>persistentParticleInteraction</string>
	<key>labelLevelMomentum</key>
	<string>providerProxyInset</string>
	<key>mobxExceptActivity</key>
	<string>playbackAdapterRight</string>
	<key>queryUntilFramework</key>
	<string>injectionInForm</string>
	<key>reactiveErrorOffset</key>
	<string>unsortedColumnAlignment</string>
	<key>rectIncludeEnvironment</key>
	<string>storeOfFunction</string>
	<key>storageWithStage</key>
	<string>swiftContainDecorator</string>
	<key>textfieldBridgeVisibility</key>
	<string>taskBeyondJob</string>
</dict>
</plist>
