<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardFutureInset</key>
	<string>navigatorExceptLevel</string>
	<key>cellOperationEdge</key>
	<string>protectedWidgetCount</string>
	<key>hyperbolicEffectHead</key>
	<string>directExpandedFlags</string>
	<key>instructionEnvironmentFrequency</key>
	<string>completerFacadeMomentum</string>
	<key>lossAgainstCycle</key>
	<string>metadataProxyOpacity</string>
	<key>plateOrPlatform</key>
	<string>progressbarStateEdge</string>
	<key>rapidPreviewCoord</key>
	<string>boxStructureBound</string>
	<key>routerAtPrototype</key>
	<string>expandedAtMode</string>
	<key>stateNearMediator</key>
	<string>awaitPhaseAppearance</string>
	<key>subsequentCallbackOpacity</key>
	<string>custompaintInTask</string>
</dict>
</plist>
