<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerAwayOperation</key>
	<string>mediaPrototypeContrast</string>
	<key>enabledZonePressure</key>
	<string>transitionNearTemple</string>
	<key>observerObserverTop</key>
	<string>chapterLikeActivity</string>
	<key>profileForScope</key>
	<string>topicParamDuration</string>
	<key>protocolWithParameter</key>
	<string>easyVectorTop</string>
</dict>
</plist>
