<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorAndCommand</key>
	<string>bulletValueHue</string>
	<key>fixedEffectAcceleration</key>
	<string>semanticFactoryValidation</string>
	<key>switchEnvironmentHead</key>
	<string>toolVersusMethod</string>
	<key>synchronousAlignmentFeedback</key>
	<string>nibSingletonBorder</string>
	<key>toolMethodAlignment</key>
	<string>storeAboutWork</string>
</dict>
</plist>
