<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredCanvasKind</key>
	<string>storyboardForPhase</string>
	<key>delegateStageHue</key>
	<string>smallPresenterFormat</string>
	<key>imperativeNormResponse</key>
	<string>interfaceFormCoord</string>
	<key>masterAmongSystem</key>
	<string>heroDecoratorDirection</string>
	<key>movementJobOrigin</key>
	<string>localizationFrameworkVisible</string>
	<key>reactiveGridTag</key>
	<string>currentQueueResponse</string>
	<key>requiredMapInset</key>
	<string>keyViewLocation</string>
	<key>resourceStageStyle</key>
	<string>dimensionStrategyMargin</string>
	<key>significantStoreOpacity</key>
	<string>futureViaParameter</string>
	<key>substantialProviderName</key>
	<string>accordionRadioPadding</string>
</dict>
</plist>
