<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intuitiveLoopScale</key>
	<string>requestActionStatus</string>
	<key>kernelVarPressure</key>
	<string>interfaceObserverFrequency</string>
	<key>permissiveCapacitiesMargin</key>
	<string>numericalTransformerBehavior</string>
	<key>smallLocalizationHue</key>
	<string>bulletFrameworkRate</string>
</dict>
</plist>
