<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderCyclePosition</key>
	<string>subtleRepositoryShade</string>
	<key>fusedScrollDepth</key>
	<string>utilVarStyle</string>
	<key>hyperbolicLogMode</key>
	<string>sizedboxUntilStyle</string>
	<key>singleCurveIndex</key>
	<string>commandInsideMemento</string>
	<key>tangentLevelDelay</key>
	<string>grainExceptStyle</string>
</dict>
</plist>
