<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicSegueDuration</key>
	<string>dependencyIncludeFlyweight</string>
	<key>certificateAtScope</key>
	<string>textureMementoVisibility</string>
	<key>loopVisitorMargin</key>
	<string>activatedGemCenter</string>
	<key>lossShapeKind</key>
	<string>delegateContainVisitor</string>
	<key>secondFutureColor</key>
	<string>remainderAlongActivity</string>
</dict>
</plist>
