<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioStageVisible</key>
	<string>entityNumberContrast</string>
	<key>customizedSliderState</key>
	<string>methodVarColor</string>
	<key>dialogsValueDelay</key>
	<string>seamlessMetadataFormat</string>
	<key>mutableRouterBorder</key>
	<string>delicateEffectRotation</string>
	<key>providerKindDirection</key>
	<string>lastCommandMargin</string>
	<key>resolverObserverLeft</key>
	<string>isolateAgainstVar</string>
	<key>unsortedResponseResponse</key>
	<string>richtextInCommand</string>
</dict>
</plist>
