<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerExceptCycle</key>
	<string>roleVarDelay</string>
	<key>diffableMediaqueryContrast</key>
	<string>unactivatedIsolateDistance</string>
	<key>displayableApertureIndex</key>
	<string>reactiveCardColor</string>
	<key>enabledIndicatorStyle</key>
	<string>statefulWorkForce</string>
	<key>expandedDuringValue</key>
	<string>crucialTaskFlags</string>
	<key>fusedSpecifierSkewy</key>
	<string>histogramSinceProcess</string>
	<key>futureLikeFlyweight</key>
	<string>gridviewActionBrightness</string>
	<key>mobileMonsterDirection</key>
	<string>resolverVisitorInset</string>
	<key>positionedTypeTail</key>
	<string>largeControllerIndex</string>
	<key>relationalTransitionBrightness</key>
	<string>indicatorCycleAcceleration</string>
</dict>
</plist>
