<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableSlashHue</key>
	<string>semanticDelegateBorder</string>
	<key>durationForJob</key>
	<string>tweenAboutStrategy</string>
	<key>gramAroundStructure</key>
	<string>nodeWithMode</string>
	<key>optionVariableTail</key>
	<string>stateSinceMemento</string>
	<key>plateBesideJob</key>
	<string>responseFormInterval</string>
	<key>respectiveCompletionSpeed</key>
	<string>flexDecoratorTag</string>
	<key>rowNearSystem</key>
	<string>memberVariableTransparency</string>
	<key>spriteFlyweightDistance</key>
	<string>discardedUsecaseShade</string>
	<key>taskNearType</key>
	<string>previewVisitorTag</string>
</dict>
</plist>
