<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleThroughCommand</key>
	<string>activatedTextfieldEdge</string>
	<key>discardedIsolateType</key>
	<string>mediaqueryAndContext</string>
	<key>equipmentBesideInterpreter</key>
	<string>cubitThanActivity</string>
	<key>mediaWithoutMemento</key>
	<string>textEnvironmentLocation</string>
	<key>topicStateSpeed</key>
	<string>inactiveMenuRotation</string>
</dict>
</plist>
