<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveEntityBottom</key>
	<string>interfaceOperationCount</string>
	<key>blocStateShade</key>
	<string>axisStructureAcceleration</string>
	<key>commonUsecaseStyle</key>
	<string>errorValueIndex</string>
	<key>rectTierPressure</key>
	<string>bulletWithPrototype</string>
	<key>subtleToolHead</key>
	<string>relationalViewBound</string>
	<key>viewNearValue</key>
	<string>serviceObserverSpacing</string>
</dict>
</plist>
