<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystContainMemento</key>
	<string>extensionParameterMode</string>
	<key>containerLevelPadding</key>
	<string>parallelTaskState</string>
	<key>giftShapeBottom</key>
	<string>tweenStrategyOffset</string>
	<key>progressbarAboutVisitor</key>
	<string>scrollFrameworkVisibility</string>
	<key>rapidBrushScale</key>
	<string>interactorVersusInterpreter</string>
	<key>resolverLevelPosition</key>
	<string>musicShapeValidation</string>
	<key>shaderShapeIndex</key>
	<string>roleAmongLevel</string>
</dict>
</plist>
