<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionExceptFramework</key>
	<string>channelBesideContext</string>
	<key>dynamicCacheAlignment</key>
	<string>firstNodeFeedback</string>
	<key>entropyDecoratorHue</key>
	<string>directlyMatrixAppearance</string>
	<key>hashProxyFlags</key>
	<string>specifierBesideComposite</string>
	<key>labelAsActivity</key>
	<string>functionalInterpolationTint</string>
	<key>memberLayerMargin</key>
	<string>utilTempleRate</string>
	<key>segmentByStyle</key>
	<string>contractionPerKind</string>
	<key>sliderExceptLayer</key>
	<string>remainderEnvironmentVisible</string>
	<key>storageFrameworkContrast</key>
	<string>dependencyParamAlignment</string>
</dict>
</plist>
