<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAsActivity</key>
	<string>accessibleRouteHead</string>
	<key>interactorUntilPrototype</key>
	<string>mobileAlertHue</string>
	<key>lastLabelPosition</key>
	<string>gridviewFrameworkHue</string>
	<key>navigationAboutChain</key>
	<string>borderAroundChain</string>
	<key>offsetWithoutVisitor</key>
	<string>visibleGestureTag</string>
	<key>subtleMatrixColor</key>
	<string>accessiblePlateInteraction</string>
	<key>titleContextOrigin</key>
	<string>configurationInType</string>
</dict>
</plist>
