<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterPhaseShape</key>
	<string>threadShapeCenter</string>
	<key>giftParamColor</key>
	<string>compositionProcessInteraction</string>
	<key>gridBeyondLevel</key>
	<string>largeAnchorShade</string>
	<key>radioFacadeMomentum</key>
	<string>originalIntensityDensity</string>
	<key>richtextShapeTail</key>
	<string>grayscaleThanTier</string>
	<key>tabbarPrototypeInterval</key>
	<string>compositionTierContrast</string>
	<key>taskStructureType</key>
	<string>builderValueSkewx</string>
	<key>widgetSystemMode</key>
	<string>currentRiverpodInteraction</string>
</dict>
</plist>
