<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticSliderDensity</key>
	<string>decorationAtJob</string>
	<key>concretePresenterFrequency</key>
	<string>aspectThanPattern</string>
	<key>custompaintBufferBorder</key>
	<string>alignmentAmongCommand</string>
	<key>difficultMarginSpeed</key>
	<string>subpixelAlongMethod</string>
	<key>immediateChartSize</key>
	<string>layoutWithoutActivity</string>
	<key>progressbarScopeLocation</key>
	<string>grainScopeFormat</string>
	<key>storeCommandRotation</key>
	<string>hashStateIndex</string>
	<key>swiftPerShape</key>
	<string>resultAwayWork</string>
</dict>
</plist>
