<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileGraphOrientation</key>
	<string>indicatorFormName</string>
	<key>interactorAtVariable</key>
	<string>positionedLayerKind</string>
	<key>permanentMediaquerySaturation</key>
	<string>asyncAgainstStrategy</string>
	<key>precisionSingletonIndex</key>
	<string>greatQueueSkewx</string>
	<key>responseScopeAcceleration</key>
	<string>secondPromiseBottom</string>
	<key>routeForStructure</key>
	<string>tabviewFunctionVisible</string>
	<key>scaleChainSpacing</key>
	<string>heroObserverState</string>
</dict>
</plist>
