<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetMediatorCoord</key>
	<string>sequentialPaddingForce</string>
	<key>boxshadowForParameter</key>
	<string>sessionCycleEdge</string>
	<key>difficultCheckboxOrientation</key>
	<string>mapStyleSpeed</string>
	<key>intensityAroundStrategy</key>
	<string>controllerSinceBridge</string>
	<key>popupAsDecorator</key>
	<string>textActivityCoord</string>
	<key>resourceVersusPhase</key>
	<string>widgetKindDistance</string>
	<key>textJobOffset</key>
	<string>consultativeCubeTension</string>
	<key>widgetContextCount</key>
	<string>buttonAgainstTemple</string>
	<key>widgetLevelPressure</key>
	<string>pivotalIsolateRotation</string>
</dict>
</plist>
