<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonFactoryValidation</key>
	<string>otherNavigatorVelocity</string>
	<key>heroScopeRate</key>
	<string>respectiveMarginKind</string>
	<key>mobileThroughActivity</key>
	<string>petOrVar</string>
	<key>sortedIntensityDensity</key>
	<string>rowAtTask</string>
	<key>sortedTabviewOrientation</key>
	<string>fragmentAsNumber</string>
	<key>stateLayerStyle</key>
	<string>singletonBeyondVariable</string>
	<key>stepSingletonRight</key>
	<string>inheritedBehaviorInset</string>
</dict>
</plist>
