<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultNodeTag</key>
	<string>textureAtForm</string>
	<key>dropdownbuttonAgainstSingleton</key>
	<string>immutableSkirtMomentum</string>
	<key>fragmentThroughContext</key>
	<string>featureExceptBridge</string>
	<key>textfieldStyleLocation</key>
	<string>heapFunctionDistance</string>
</dict>
</plist>
