<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerProcessHue</key>
	<string>descriptionInSystem</string>
	<key>heapParamDuration</key>
	<string>mediaqueryLikePlatform</string>
	<key>interactorValueCenter</key>
	<string>pointKindRotation</string>
	<key>memberSingletonTop</key>
	<string>enabledGrainShade</string>
	<key>metadataStructureBehavior</key>
	<string>offsetShapeBorder</string>
	<key>routeJobShade</key>
	<string>mediumRadioStyle</string>
	<key>semanticCubitSkewx</key>
	<string>baselineDuringProcess</string>
	<key>tickerParameterVisible</key>
	<string>gridviewFlyweightSkewx</string>
</dict>
</plist>
