<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateScopeMomentum</key>
	<string>extensionAdapterShade</string>
	<key>configurationSystemFrequency</key>
	<string>otherDecorationFeedback</string>
	<key>documentLayerMomentum</key>
	<string>touchAboutPhase</string>
	<key>giftForContext</key>
	<string>columnAroundStructure</string>
	<key>ignoredOverlayColor</key>
	<string>baselineCyclePadding</string>
	<key>marginActionOrientation</key>
	<string>pivotalUtilInteraction</string>
	<key>movementAlongProcess</key>
	<string>bitrateAroundShape</string>
	<key>sensorLayerVisible</key>
	<string>autoInjectionOpacity</string>
	<key>zoneVarSize</key>
	<string>imperativeGramCoord</string>
</dict>
</plist>
