<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnViaStructure</key>
	<string>timerVarPadding</string>
	<key>denseHistogramState</key>
	<string>toolAboutPlatform</string>
	<key>ignoredPromiseAppearance</key>
	<string>gridviewTypeOffset</string>
	<key>multiInkwellAlignment</key>
	<string>buttonAwayInterpreter</string>
	<key>queueScopeVisibility</key>
	<string>stackForLayer</string>
	<key>seguePlatformMode</key>
	<string>vectorInsideMemento</string>
	<key>sortedSignTheme</key>
	<string>singleVariantInset</string>
	<key>statefulFromValue</key>
	<string>lostObserverOffset</string>
	<key>subpixelAndCycle</key>
	<string>localizationInsideStyle</string>
</dict>
</plist>
