<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAwayVar</key>
	<string>giftActionMomentum</string>
	<key>containerWithScope</key>
	<string>durationParameterDirection</string>
	<key>modalAwaySystem</key>
	<string>decorationPhaseInterval</string>
	<key>profileVarShape</key>
	<string>unaryTierHue</string>
	<key>singleBlocInterval</key>
	<string>durationKindTension</string>
	<key>textureContextAlignment</key>
	<string>providerPatternDelay</string>
	<key>themeThanTask</key>
	<string>intermediateLabelDelay</string>
	<key>usagePrototypeDensity</key>
	<string>liteRowOffset</string>
	<key>variantUntilInterpreter</key>
	<string>mutableTransitionPressure</string>
</dict>
</plist>
