<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitBufferTension</key>
	<string>providerProcessTheme</string>
	<key>curveProxyTint</key>
	<string>prismaticGroupPadding</string>
	<key>explicitEqualizationScale</key>
	<string>storeMediatorAppearance</string>
	<key>factoryDuringJob</key>
	<string>serviceCommandInterval</string>
	<key>musicCycleInteraction</key>
	<string>transitionPhaseContrast</string>
	<key>taskCompositeSaturation</key>
	<string>commonCompleterDistance</string>
</dict>
</plist>
