<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionViaVariable</key>
	<string>projectionStyleShade</string>
	<key>disabledZoneTag</key>
	<string>logarithmStyleAcceleration</string>
	<key>effectSinceActivity</key>
	<string>durationValueSkewx</string>
	<key>functionalEqualizationState</key>
	<string>sinkTypeDepth</string>
	<key>heroUntilTask</key>
	<string>rowStrategyMargin</string>
	<key>ignoredCellMode</key>
	<string>textAroundMemento</string>
	<key>marginExceptDecorator</key>
	<string>topicMethodFormat</string>
	<key>mediumDimensionContrast</key>
	<string>tickerNearParameter</string>
	<key>numericalCompletionFrequency</key>
	<string>controllerPerDecorator</string>
	<key>protocolAboutObserver</key>
	<string>specifierTypeEdge</string>
</dict>
</plist>
