<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureSinceComposite</key>
	<string>playbackActivityOrigin</string>
	<key>groupPatternFrequency</key>
	<string>fixedProtocolTint</string>
	<key>immediateBatchSkewy</key>
	<string>optimizerDespiteMethod</string>
	<key>immediateMovementShade</key>
	<string>notificationThroughBuffer</string>
	<key>statefulZoneOrientation</key>
	<string>sustainableQueryState</string>
</dict>
</plist>
