<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxInterpreterAppearance</key>
	<string>playbackTaskTint</string>
	<key>comprehensiveSingletonSize</key>
	<string>interactiveSpotResponse</string>
	<key>layerBufferPressure</key>
	<string>activeExpandedColor</string>
	<key>localFeatureTail</key>
	<string>mediocreSegueSkewy</string>
	<key>nativeNotifierLocation</key>
	<string>effectCompositeAcceleration</string>
	<key>parallelChallengeOffset</key>
	<string>reducerCompositeSpacing</string>
	<key>projectionPrototypeInset</key>
	<string>buttonBesideCycle</string>
</dict>
</plist>
