<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentTransitionMomentum</key>
	<string>hierarchicalCompleterTop</string>
	<key>durationCompositePosition</key>
	<string>observerMediatorScale</string>
	<key>getxBridgeBehavior</key>
	<string>stepActionShape</string>
	<key>intuitiveChapterInteraction</key>
	<string>transformerActionOffset</string>
	<key>mobileGrainTop</key>
	<string>mapBesideProxy</string>
	<key>storeShapeContrast</key>
	<string>diffableLayoutRotation</string>
	<key>storyboardAndVar</key>
	<string>streamInsideStyle</string>
	<key>tabviewParameterHead</key>
	<string>greatCoordinatorBorder</string>
	<key>tensorHistogramSpeed</key>
	<string>imperativeSkinMode</string>
</dict>
</plist>
