<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelVersusLayer</key>
	<string>masterStateMode</string>
	<key>exceptionStateMode</key>
	<string>resolverIncludePrototype</string>
	<key>injectionFlyweightOffset</key>
	<string>singleSingletonStyle</string>
	<key>publicAllocatorTension</key>
	<string>unsortedBlocMode</string>
	<key>statelessResponseDepth</key>
	<string>directFlexFlags</string>
	<key>staticTextCenter</key>
	<string>graphicAmongAction</string>
	<key>techniqueDuringKind</key>
	<string>navigatorBufferBottom</string>
</dict>
</plist>
