<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandOrMediator</key>
	<string>descriptionActionDirection</string>
	<key>cupertinoLikeDecorator</key>
	<string>menuEnvironmentInterval</string>
	<key>dimensionIncludeSystem</key>
	<string>subscriptionActionSaturation</string>
	<key>inheritedTextHue</key>
	<string>movementTaskRotation</string>
	<key>metadataBufferRight</key>
	<string>desktopObserverMomentum</string>
	<key>prismaticServiceDistance</key>
	<string>greatTableShape</string>
	<key>semanticsWorkVisibility</key>
	<string>fixedGridMomentum</string>
	<key>topicChainAppearance</key>
	<string>bufferTaskPadding</string>
	<key>usecaseAsMode</key>
	<string>deferredTextfieldState</string>
</dict>
</plist>
