<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticMethodAppearance</key>
	<string>semanticIntensityRate</string>
	<key>effectDespiteType</key>
	<string>errorByMediator</string>
	<key>retainedTaskRate</key>
	<string>buttonKindState</string>
	<key>zoneNumberBound</key>
	<string>delicateProjectionEdge</string>
</dict>
</plist>
