<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTitleColor</key>
	<string>normIncludeStyle</string>
	<key>loopInMemento</key>
	<string>routeExceptEnvironment</string>
	<key>nibPlatformOpacity</key>
	<string>mutableOffsetTheme</string>
	<key>protectedToolInteraction</key>
	<string>gradientBufferSkewy</string>
	<key>seamlessRequestColor</key>
	<string>delegateSingletonFrequency</string>
	<key>sequentialResolverRotation</key>
	<string>widgetMediatorVisible</string>
	<key>slashThanAdapter</key>
	<string>cacheUntilTier</string>
	<key>zonePerProcess</key>
	<string>pinchableBufferColor</string>
	<key>zoneVarForce</key>
	<string>titleAtStrategy</string>
</dict>
</plist>
