<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleKernelVisible</key>
	<string>delegateOrMediator</string>
	<key>columnNumberTag</key>
	<string>reductionTaskTag</string>
	<key>coordinatorAtState</key>
	<string>textBeyondOperation</string>
	<key>gradientAroundVisitor</key>
	<string>sinkSingletonShape</string>
	<key>iterativeDurationPosition</key>
	<string>ternaryScopeBottom</string>
	<key>mediumFrameDistance</key>
	<string>tensorSensorCount</string>
	<key>modulusPrototypeVelocity</key>
	<string>concreteCharacterTag</string>
	<key>smartPrecisionVisibility</key>
	<string>animatedcontainerDuringAdapter</string>
</dict>
</plist>
