<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleCompositeScale</key>
	<string>composableChannelScale</string>
	<key>reducerBeyondLevel</key>
	<string>storyboardCycleTag</string>
	<key>sizedboxVarCenter</key>
	<string>pageviewStyleTail</string>
</dict>
</plist>
