<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocThanStyle</key>
	<string>adaptiveSinkDensity</string>
	<key>compositionBridgePressure</key>
	<string>typicalRectFeedback</string>
	<key>flexExceptTemple</key>
	<string>resultThanComposite</string>
	<key>invisibleAlphaDirection</key>
	<string>customVariantHead</string>
	<key>lazyQueryVisibility</key>
	<string>agileResourceName</string>
	<key>observerAdapterColor</key>
	<string>notifierDespiteStyle</string>
	<key>operationFormTag</key>
	<string>pinchableProjectionFeedback</string>
	<key>pinchableAnimatedcontainerSaturation</key>
	<string>inkwellPerLayer</string>
</dict>
</plist>
