<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateUtilInteraction</key>
	<string>disabledIntegerFrequency</string>
	<key>durationFormDelay</key>
	<string>instructionStageForce</string>
	<key>petProxyTension</key>
	<string>sensorAndComposite</string>
	<key>profileTempleContrast</key>
	<string>diversifiedContainerFlags</string>
</dict>
</plist>
