<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosinePrototypeForce</key>
	<string>flexLevelHead</string>
	<key>globalDelegateCenter</key>
	<string>labelAlongValue</string>
	<key>rowFormFrequency</key>
	<string>flexStyleRotation</string>
	<key>sophisticatedContractionRight</key>
	<string>rowModeForce</string>
</dict>
</plist>
