<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocForVar</key>
	<string>parallelDialogsMode</string>
	<key>chapterActivityVisible</key>
	<string>swiftAlongShape</string>
	<key>characterOrMethod</key>
	<string>checkboxSingletonInset</string>
	<key>chartTempleFeedback</key>
	<string>handlerThroughShape</string>
	<key>criticalTweenType</key>
	<string>resolverNearProxy</string>
	<key>exceptionOrType</key>
	<string>stateActivityInset</string>
	<key>modulusShapeShape</key>
	<string>spineForAction</string>
	<key>numericalDecorationBound</key>
	<string>exceptionOrPattern</string>
	<key>positionAgainstFunction</key>
	<string>sineByEnvironment</string>
	<key>textUntilFunction</key>
	<string>bulletTierMargin</string>
</dict>
</plist>
