<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartScopeType</key>
	<string>canvasTierTension</string>
	<key>materialFlyweightVisibility</key>
	<string>dynamicUsageAlignment</string>
	<key>methodObserverTop</key>
	<string>richtextPerType</string>
	<key>routerTempleAppearance</key>
	<string>disabledQueryBottom</string>
	<key>similarContainerTint</key>
	<string>reusablePreviewFormat</string>
	<key>transitionAlongEnvironment</key>
	<string>prevTickerValidation</string>
</dict>
</plist>
