<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationTaskMomentum</key>
	<string>gridOutsideJob</string>
	<key>futureProxyPadding</key>
	<string>sizedboxUntilDecorator</string>
	<key>labelChainVelocity</key>
	<string>constraintMediatorVelocity</string>
	<key>momentumOperationPadding</key>
	<string>serviceVarTheme</string>
	<key>monsterOrStage</key>
	<string>richtextUntilProcess</string>
	<key>tableVarRight</key>
	<string>extensionPrototypeResponse</string>
	<key>tappableArithmeticResponse</key>
	<string>statefulAgainstContext</string>
</dict>
</plist>
