<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderBridgeStatus</key>
	<string>repositoryDuringSystem</string>
	<key>completerExceptProxy</key>
	<string>compositionalShaderIndex</string>
	<key>gateAmongActivity</key>
	<string>tappableQueueMomentum</string>
	<key>referenceAmongScope</key>
	<string>curveLikeStructure</string>
	<key>textureProcessHead</key>
	<string>titleObserverInteraction</string>
</dict>
</plist>
