<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionResultHead</key>
	<string>entropyParameterSaturation</string>
	<key>awaitMementoOffset</key>
	<string>stateAmongTemple</string>
	<key>constraintStateDirection</key>
	<string>adaptiveDelegateTheme</string>
	<key>groupSinceShape</key>
	<string>cubitBridgeInteraction</string>
	<key>heapFlyweightValidation</key>
	<string>boxshadowByMode</string>
	<key>routerDuringAdapter</key>
	<string>interfaceValueFeedback</string>
	<key>zoneAwayParameter</key>
	<string>interpolationInOperation</string>
</dict>
</plist>
