<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectMementoShape</key>
	<string>sharedAssetVelocity</string>
	<key>asyncAsObserver</key>
	<string>requestIncludeFunction</string>
	<key>containerLayerSpeed</key>
	<string>widgetAgainstType</string>
	<key>relationalExpandedCoord</key>
	<string>oldPreviewHead</string>
	<key>sizeSincePhase</key>
	<string>entityModeFormat</string>
	<key>storeAroundKind</key>
	<string>difficultPresenterType</string>
	<key>viewExceptVisitor</key>
	<string>fixedDelegateStyle</string>
</dict>
</plist>
