<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarFrameworkSaturation</key>
	<string>equalizationNumberTag</string>
	<key>compositionalMediaShape</key>
	<string>listenerInterpreterStatus</string>
	<key>containerStateDelay</key>
	<string>variantKindOffset</string>
	<key>modulusExceptVar</key>
	<string>operationViaWork</string>
	<key>typicalObserverBottom</key>
	<string>topicStyleDepth</string>
</dict>
</plist>
