<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandForVisitor</key>
	<string>gridShapePadding</string>
	<key>controllerBeyondBridge</key>
	<string>eagerPromisePadding</string>
	<key>expandedByFunction</key>
	<string>unactivatedZoneVisible</string>
	<key>fixedMonsterBottom</key>
	<string>customTickerSize</string>
	<key>mapAdapterOpacity</key>
	<string>secondLogarithmType</string>
	<key>rowStrategyFeedback</key>
	<string>progressbarAboutChain</string>
</dict>
</plist>
