<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerBridgeBorder</key>
	<string>notificationSystemPosition</string>
	<key>custompaintOrMethod</key>
	<string>resizableGetxDepth</string>
	<key>managerActionBound</key>
	<string>agileRowHue</string>
	<key>sinkNearKind</key>
	<string>dependencyStructureAlignment</string>
	<key>sinkPrototypeOrigin</key>
	<string>taskFacadeHue</string>
	<key>statelessDimensionStatus</key>
	<string>consumerMethodDuration</string>
</dict>
</plist>
