<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerFrameworkDuration</key>
	<string>subscriptionThanBuffer</string>
	<key>listenerOutsideStyle</key>
	<string>symmetricGrainVisibility</string>
	<key>lostGemMomentum</key>
	<string>cycleLikeTask</string>
	<key>screenInsideType</key>
	<string>ignoredAspectSaturation</string>
	<key>subscriptionPerPhase</key>
	<string>custompaintTierRotation</string>
</dict>
</plist>
