<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryVariablePosition</key>
	<string>providerJobShade</string>
	<key>cartesianWidgetMomentum</key>
	<string>chartAdapterOrientation</string>
	<key>draggablePointFormat</key>
	<string>symmetricGraphBorder</string>
	<key>dropdownbuttonTaskFeedback</key>
	<string>imperativeAlphaTop</string>
	<key>gemNumberTail</key>
	<string>accordionLayerShade</string>
	<key>mobileForFunction</key>
	<string>respectiveAnimationIndex</string>
	<key>subtleDelegateInset</key>
	<string>mediaqueryPatternCenter</string>
	<key>titleMethodHead</key>
	<string>gemMediatorAlignment</string>
	<key>usageLikeFacade</key>
	<string>localBuilderHead</string>
</dict>
</plist>
