<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianTopicAppearance</key>
	<string>sinkSystemSkewx</string>
	<key>displayableTimerAppearance</key>
	<string>profileAgainstSystem</string>
	<key>popupTierDuration</key>
	<string>directLogarithmName</string>
	<key>tappableOverlayRotation</key>
	<string>intensityAgainstStrategy</string>
	<key>usecaseInDecorator</key>
	<string>aspectInComposite</string>
</dict>
</plist>
