<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderInterpreterBottom</key>
	<string>borderOperationLocation</string>
	<key>composableMomentumDelay</key>
	<string>sineEnvironmentTop</string>
	<key>handlerAroundFramework</key>
	<string>threadAlongMemento</string>
	<key>responsiveIsolateFlags</key>
	<string>immutableBulletBorder</string>
	<key>sceneThanProxy</key>
	<string>missionDuringParam</string>
	<key>semanticCallbackMargin</key>
	<string>localLabelDepth</string>
</dict>
</plist>
