<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorTaskLeft</key>
	<string>animationSinceContext</string>
	<key>deferredBrushState</key>
	<string>gridModeDuration</string>
	<key>methodDespiteVisitor</key>
	<string>immutableScaffoldInteraction</string>
	<key>radiusCycleHue</key>
	<string>priorControllerSpacing</string>
	<key>rectProxyTransparency</key>
	<string>gradientProxyInterval</string>
	<key>richtextAmongFramework</key>
	<string>scaffoldAdapterDelay</string>
	<key>viewSingletonSize</key>
	<string>otherPromiseInset</string>
</dict>
</plist>
