<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveSingletonSpacing</key>
	<string>musicActionSpeed</string>
	<key>publicFutureInterval</key>
	<string>composablePositionedMomentum</string>
	<key>statelessCycleShade</key>
	<string>menuAgainstSystem</string>
</dict>
</plist>
