<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainCallbackSpeed</key>
	<string>asyncAsScope</string>
	<key>radiusTypeOrientation</key>
	<string>zoneKindSpacing</string>
	<key>routeChainTension</key>
	<string>constTopicColor</string>
</dict>
</plist>
