<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncActivityStatus</key>
	<string>routeContainStage</string>
	<key>boxIncludeKind</key>
	<string>positionedAwayVariable</string>
	<key>cartesianOptimizerAlignment</key>
	<string>singletonStrategyVisible</string>
	<key>contractionWithInterpreter</key>
	<string>vectorShapeOffset</string>
	<key>extensionExceptEnvironment</key>
	<string>coordinatorParamInteraction</string>
	<key>ignoredObserverMomentum</key>
	<string>oldDelegateContrast</string>
	<key>intensityActionEdge</key>
	<string>listviewAwayContext</string>
	<key>radiusExceptNumber</key>
	<string>tappableTextOrientation</string>
	<key>storageChainSpacing</key>
	<string>multiAnimatedcontainerPadding</string>
	<key>variantNearPrototype</key>
	<string>subsequentProfileTop</string>
</dict>
</plist>
