<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoPetResponse</key>
	<string>segueVarMode</string>
	<key>decorationProcessFrequency</key>
	<string>dynamicCellDuration</string>
	<key>descriptionBesideTemple</key>
	<string>interactorDespiteInterpreter</string>
	<key>exceptionScopeBorder</key>
	<string>entityCycleSkewy</string>
	<key>getxProxyInteraction</key>
	<string>entityParameterBorder</string>
	<key>giftInActivity</key>
	<string>animationStrategyRight</string>
	<key>mobileCompositeShape</key>
	<string>menuEnvironmentInteraction</string>
	<key>queueThroughForm</key>
	<string>storyboardParamDuration</string>
	<key>referenceTierFeedback</key>
	<string>lostScaleLeft</string>
	<key>resilientSpriteTheme</key>
	<string>providerMediatorKind</string>
</dict>
</plist>
