<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineBeyondJob</key>
	<string>shaderOfBuffer</string>
	<key>exceptionStageKind</key>
	<string>histogramLayerBound</string>
	<key>futureAmongPlatform</key>
	<string>notificationKindResponse</string>
	<key>gridAlongInterpreter</key>
	<string>queryKindCoord</string>
	<key>immediateScrollName</key>
	<string>notificationMementoInset</string>
	<key>radioAmongActivity</key>
	<string>entityForPlatform</string>
	<key>reactiveOffsetSize</key>
	<string>queueDespiteVisitor</string>
	<key>reusableDecorationBorder</key>
	<string>routerAroundForm</string>
	<key>switchParameterFormat</key>
	<string>scrollableEntityBehavior</string>
	<key>topicPerOperation</key>
	<string>cartesianModulusSpacing</string>
</dict>
</plist>
