<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertTaskShade</key>
	<string>popupDecoratorSpacing</string>
	<key>allocatorVarFormat</key>
	<string>precisionProxyIndex</string>
	<key>injectionAndEnvironment</key>
	<string>boxshadowModeRate</string>
	<key>invisibleConvolutionCenter</key>
	<string>featureBesideState</string>
	<key>invisibleViewDensity</key>
	<string>factoryAmongMode</string>
	<key>layerPhaseTag</key>
	<string>riverpodViaEnvironment</string>
	<key>scrollAwayCommand</key>
	<string>usecaseAboutTask</string>
	<key>sensorAsProcess</key>
	<string>stateInterpreterShape</string>
</dict>
</plist>
