<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleTypeInset</key>
	<string>standaloneTouchAlignment</string>
	<key>challengeCompositeHead</key>
	<string>exponentMementoName</string>
	<key>convolutionAndCommand</key>
	<string>commonCubitInset</string>
	<key>histogramActionBound</key>
	<string>bulletDuringMemento</string>
	<key>layoutForStage</key>
	<string>sizedboxTypeLeft</string>
	<key>loopAmongBuffer</key>
	<string>petFrameworkRotation</string>
	<key>presenterFacadeOrigin</key>
	<string>elasticChallengeAlignment</string>
	<key>tabbarOrVar</key>
	<string>pivotalAlertScale</string>
	<key>taskLikeProcess</key>
	<string>characterKindState</string>
</dict>
</plist>
