<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerTextDuration</key>
	<string>reusableEffectBottom</string>
	<key>boxBesidePattern</key>
	<string>priorityObserverDuration</string>
	<key>cycleAwayProxy</key>
	<string>groupWithoutCycle</string>
	<key>equipmentViaFacade</key>
	<string>contractionInterpreterBorder</string>
	<key>interfaceStylePadding</key>
	<string>mainResolverFeedback</string>
	<key>listenerPhaseTint</key>
	<string>optimizerNearState</string>
	<key>mediumProviderInteraction</key>
	<string>materialDecorationRight</string>
	<key>modelVersusStrategy</key>
	<string>decorationTierOrigin</string>
	<key>scrollableConfigurationValidation</key>
	<string>notificationBeyondKind</string>
	<key>sessionOutsideActivity</key>
	<string>inheritedStoreBrightness</string>
</dict>
</plist>
