<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grayscaleContainObserver</key>
	<string>cubitOrParameter</string>
	<key>materialChallengeSkewy</key>
	<string>viewContainMode</string>
	<key>sophisticatedCellShape</key>
	<string>staticAsyncPressure</string>
</dict>
</plist>
