<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaMementoInteraction</key>
	<string>callbackVariableCount</string>
	<key>boxshadowPerMode</key>
	<string>newestExceptionEdge</string>
	<key>currentNavigatorMomentum</key>
	<string>backwardResourceCoord</string>
	<key>fixedAccessoryTheme</key>
	<string>musicAroundWork</string>
	<key>localCoordinatorVisible</key>
	<string>previewPhaseBrightness</string>
	<key>originalConvolutionBehavior</key>
	<string>denseMomentumFeedback</string>
	<key>pinchableDurationTag</key>
	<string>dimensionUntilParam</string>
	<key>scrollableFutureSpeed</key>
	<string>integerAsAdapter</string>
	<key>usedFutureAppearance</key>
	<string>futureTaskLeft</string>
</dict>
</plist>
