<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectCompositeFeedback</key>
	<string>resourceForVariable</string>
	<key>asyncLayerSaturation</key>
	<string>sinkStageDensity</string>
	<key>mainTransitionSaturation</key>
	<string>popupThanCommand</string>
</dict>
</plist>
