<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitApertureDirection</key>
	<string>difficultDescriptionTheme</string>
	<key>hyperbolicNotificationPosition</key>
	<string>presenterFormStyle</string>
	<key>painterByPhase</key>
	<string>materialVersusPhase</string>
	<key>queueForMethod</key>
	<string>viewJobFormat</string>
</dict>
</plist>
