<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>histogramFromFlyweight</key>
	<string>tickerContainFlyweight</string>
	<key>iconUntilMethod</key>
	<string>providerWorkBrightness</string>
	<key>stepByStructure</key>
	<string>allocatorBridgeBound</string>
	<key>usecaseFlyweightFlags</key>
	<string>multiplicationPatternHead</string>
</dict>
</plist>
