<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterContextDuration</key>
	<string>alphaWithCommand</string>
	<key>crudeMomentumName</key>
	<string>consumerInShape</string>
	<key>curveDecoratorIndex</key>
	<string>pointStageOffset</string>
	<key>durationEnvironmentInset</key>
	<string>richtextContextInset</string>
	<key>frameFormVelocity</key>
	<string>containerStageCenter</string>
	<key>hashCompositeIndex</key>
	<string>configurationWorkLeft</string>
	<key>momentumContainLayer</key>
	<string>enabledCompleterBorder</string>
	<key>secondControllerBrightness</key>
	<string>reducerProcessSkewy</string>
</dict>
</plist>
