<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsExceptBuffer</key>
	<string>descriptionByActivity</string>
	<key>liteGridPosition</key>
	<string>giftStyleIndex</string>
	<key>singleChartFrequency</key>
	<string>movementOrTemple</string>
	<key>sinkTempleOffset</key>
	<string>builderChainBound</string>
	<key>skirtStructureSkewy</key>
	<string>resolverBeyondMemento</string>
</dict>
</plist>
