<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateTierCenter</key>
	<string>decorationOutsideVar</string>
	<key>ephemeralControllerEdge</key>
	<string>tappableObserverOpacity</string>
	<key>graphPhaseShade</key>
	<string>skirtFrameworkTension</string>
	<key>permissiveCatalystLocation</key>
	<string>ephemeralModalTension</string>
</dict>
</plist>
