<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerChallengeForce</key>
	<string>similarRadiusCount</string>
	<key>dependencyAwayVariable</key>
	<string>textBufferBound</string>
	<key>greatClipperSpacing</key>
	<string>statefulLikeKind</string>
	<key>inkwellAboutType</key>
	<string>elasticBuilderAcceleration</string>
	<key>largePointOffset</key>
	<string>masterAgainstBuffer</string>
	<key>screenBeyondType</key>
	<string>swiftAdapterOrientation</string>
	<key>secondCellOpacity</key>
	<string>localTransitionHead</string>
</dict>
</plist>
