<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativePromiseOrigin</key>
	<string>descriptorExceptFacade</string>
	<key>fragmentOfDecorator</key>
	<string>usecaseAlongInterpreter</string>
	<key>lastSpotTension</key>
	<string>completionAwayComposite</string>
	<key>synchronousProfileShade</key>
	<string>repositoryThroughTier</string>
	<key>textureAgainstVariable</key>
	<string>reactivePresenterVelocity</string>
</dict>
</plist>
