<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitVariableFlags</key>
	<string>transitionAndJob</string>
	<key>directlyParticleAppearance</key>
	<string>baselineFromPhase</string>
	<key>eagerTitleTheme</key>
	<string>retainedCallbackStyle</string>
	<key>intermediateSpotMomentum</key>
	<string>capacitiesStructureAlignment</string>
	<key>menuParameterSaturation</key>
	<string>buttonAboutFacade</string>
	<key>overlayParamSpeed</key>
	<string>profileStructureAlignment</string>
	<key>painterOfStyle</key>
	<string>asyncWorkRate</string>
</dict>
</plist>
