<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorFlyweightDirection</key>
	<string>temporaryLossBehavior</string>
	<key>anchorModeOrigin</key>
	<string>cubeAdapterResponse</string>
	<key>columnMementoLocation</key>
	<string>labelBesideForm</string>
	<key>customStreamSpeed</key>
	<string>permanentUtilHead</string>
	<key>dynamicPopupResponse</key>
	<string>playbackProxyOrientation</string>
	<key>intuitiveHeapCenter</key>
	<string>diversifiedHistogramForce</string>
	<key>signatureWithoutBridge</key>
	<string>queryNumberTension</string>
	<key>significantClipperFormat</key>
	<string>factoryWorkRotation</string>
	<key>taskLikeParam</key>
	<string>streamShapeContrast</string>
</dict>
</plist>
