<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferPerBuffer</key>
	<string>handlerAndTemple</string>
	<key>certificateSystemKind</key>
	<string>pinchableUnaryAlignment</string>
	<key>constAlertTop</key>
	<string>hardBrushVisibility</string>
	<key>durationForBridge</key>
	<string>retainedTangentBorder</string>
	<key>navigatorTierColor</key>
	<string>localizationStageMargin</string>
	<key>popupDuringVar</key>
	<string>allocatorMethodHead</string>
	<key>prevExpandedDirection</key>
	<string>curveMethodDistance</string>
	<key>variantEnvironmentBorder</key>
	<string>dedicatedManagerCenter</string>
</dict>
</plist>
