<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxParameterValidation</key>
	<string>transitionAgainstVisitor</string>
	<key>cacheCommandPressure</key>
	<string>consultativeMenuFlags</string>
	<key>controllerLevelAcceleration</key>
	<string>textPrototypeTransparency</string>
	<key>hashCompositeAlignment</key>
	<string>inkwellThanValue</string>
	<key>sampleOrSingleton</key>
	<string>dedicatedDelegateSkewx</string>
	<key>sizeStageFeedback</key>
	<string>momentumAboutInterpreter</string>
</dict>
</plist>
