<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lostRectOrientation</key>
	<string>apertureIncludeValue</string>
	<key>materialStyleSkewx</key>
	<string>gemFunctionDelay</string>
	<key>precisionActivityBrightness</key>
	<string>signProxyPadding</string>
</dict>
</plist>
