<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineContainStyle</key>
	<string>topicLikeMethod</string>
	<key>crucialVariantKind</key>
	<string>particleLevelCoord</string>
	<key>curveNumberTag</key>
	<string>tangentSingletonIndex</string>
	<key>layerAmongShape</key>
	<string>decorationModeDirection</string>
	<key>specifySlashShade</key>
	<string>usageFromTask</string>
</dict>
</plist>
