<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryWorkShade</key>
	<string>keyInkwellBrightness</string>
	<key>delicateResultPadding</key>
	<string>seguePatternMode</string>
	<key>handlerAdapterPosition</key>
	<string>particleContextSpeed</string>
	<key>ignoredQueueTheme</key>
	<string>numericalManagerHue</string>
</dict>
</plist>
