<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activePrecisionState</key>
	<string>roleChainAlignment</string>
	<key>activityIncludeWork</key>
	<string>masterExceptContext</string>
	<key>hierarchicalSizedboxKind</key>
	<string>stateBridgeResponse</string>
	<key>responseExceptEnvironment</key>
	<string>durationSystemDuration</string>
</dict>
</plist>
