<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitBeyondLayer</key>
	<string>accordionConstraintDepth</string>
	<key>behaviorBridgeAcceleration</key>
	<string>requestPrototypeBehavior</string>
	<key>delegateWithBuffer</key>
	<string>transitionNumberColor</string>
	<key>mediocreSliderInterval</key>
	<string>listenerInDecorator</string>
	<key>persistentButtonInset</key>
	<string>cosineIncludeBuffer</string>
	<key>significantCommandOpacity</key>
	<string>stateActionShape</string>
	<key>viewAroundParam</key>
	<string>graphForActivity</string>
</dict>
</plist>
