<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocNearWork</key>
	<string>compositionBesidePlatform</string>
	<key>containerAsProcess</key>
	<string>consumerAsMediator</string>
	<key>oldServiceTint</key>
	<string>documentFromStyle</string>
	<key>resolverStructureTop</key>
	<string>heapExceptValue</string>
</dict>
</plist>
