<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralActivityMode</key>
	<string>isolateCommandTail</string>
	<key>heapWithForm</key>
	<string>iconUntilTier</string>
	<key>sliderSinceType</key>
	<string>gridviewStructureShape</string>
</dict>
</plist>
