<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerOperationEdge</key>
	<string>basicServiceLocation</string>
	<key>diffableTickerSpacing</key>
	<string>easyMusicMode</string>
	<key>histogramVariableTag</key>
	<string>desktopBrushFormat</string>
	<key>immediateApertureResponse</key>
	<string>subpixelDecoratorMargin</string>
	<key>listenerPrototypeRight</key>
	<string>paddingEnvironmentInteraction</string>
	<key>listviewForPhase</key>
	<string>drawerOutsideEnvironment</string>
	<key>navigatorMediatorStatus</key>
	<string>serviceVersusTemple</string>
	<key>requestActionTop</key>
	<string>modulusStrategyRate</string>
</dict>
</plist>
