<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fusedEffectStatus</key>
	<string>composableOffsetSize</string>
	<key>futureThroughBridge</key>
	<string>desktopAlignmentContrast</string>
	<key>rowWithState</key>
	<string>streamBridgeFormat</string>
	<key>sinkMethodVisible</key>
	<string>captionAsTemple</string>
	<key>tickerChainDuration</key>
	<string>indicatorVarFrequency</string>
	<key>uniformLayerInteraction</key>
	<string>animationStageDuration</string>
	<key>usecaseChainSpeed</key>
	<string>accessibleEqualizationInset</string>
</dict>
</plist>
