<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAroundTemple</key>
	<string>instructionUntilStructure</string>
	<key>compositionalRadiusForce</key>
	<string>coordinatorActionVisible</string>
	<key>popupBeyondMemento</key>
	<string>accordionReducerInset</string>
	<key>sizeThroughNumber</key>
	<string>commonFrameSaturation</string>
</dict>
</plist>
