<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customPopupCenter</key>
	<string>associatedPrecisionIndex</string>
	<key>customizedBinaryTag</key>
	<string>usedInteractorForce</string>
	<key>dialogsActionValidation</key>
	<string>actionAndMediator</string>
	<key>heroStateBottom</key>
	<string>batchFunctionTag</string>
	<key>layerTypeName</key>
	<string>containerBeyondCycle</string>
	<key>serviceAmongMode</key>
	<string>webTabbarSpeed</string>
	<key>spineViaValue</key>
	<string>resizableExpandedMomentum</string>
	<key>widgetDuringComposite</key>
	<string>singleAccessoryPressure</string>
</dict>
</plist>
