<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSessionCenter</key>
	<string>substantialDropdownbuttonBound</string>
	<key>appbarActivityInset</key>
	<string>controllerOutsideMode</string>
	<key>basicObserverMomentum</key>
	<string>previewIncludeAdapter</string>
	<key>delegateWorkDensity</key>
	<string>constThemeInteraction</string>
	<key>diversifiedWidgetPadding</key>
	<string>painterActionColor</string>
	<key>globalRiverpodScale</key>
	<string>mobxBufferType</string>
	<key>immutableInterfaceFrequency</key>
	<string>publicNavigatorOrigin</string>
	<key>skinOfLevel</key>
	<string>enabledRectShape</string>
</dict>
</plist>
