<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitVariableRight</key>
	<string>offsetPhaseValidation</string>
	<key>binaryBufferTint</key>
	<string>largeRouteDuration</string>
	<key>columnExceptOperation</key>
	<string>plateThroughLayer</string>
	<key>lossOutsideWork</key>
	<string>associatedImageVelocity</string>
	<key>oldDependencyBound</key>
	<string>constraintAlongLayer</string>
	<key>painterInterpreterFormat</key>
	<string>gemOfSystem</string>
	<key>publicLoopStyle</key>
	<string>constraintShapeDelay</string>
	<key>scrollableExponentTension</key>
	<string>particleDespitePhase</string>
	<key>semanticGiftIndex</key>
	<string>gestureAwayAdapter</string>
	<key>shaderFacadeFlags</key>
	<string>spineTempleCoord</string>
</dict>
</plist>
