<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncProxyTag</key>
	<string>alphaNearStyle</string>
	<key>brushMethodForce</key>
	<string>cubitAboutTemple</string>
	<key>containerIncludeBuffer</key>
	<string>newestCoordinatorBorder</string>
	<key>curveAboutScope</key>
	<string>crucialBoxVisible</string>
	<key>substantialThemeTag</key>
	<string>nativeMediaIndex</string>
</dict>
</plist>
