<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticSampleShape</key>
	<string>entropyFrameworkOffset</string>
	<key>cursorStageState</key>
	<string>behaviorStateFormat</string>
	<key>factoryUntilAdapter</key>
	<string>sizePlatformSkewx</string>
	<key>layerBesideType</key>
	<string>effectAndStyle</string>
	<key>skinMementoSpeed</key>
	<string>sceneDespiteMode</string>
	<key>statefulMethodVisibility</key>
	<string>functionalSignFrequency</string>
</dict>
</plist>
