<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityWithoutStructure</key>
	<string>intermediateGesturedetectorOrientation</string>
	<key>listenerWithoutMemento</key>
	<string>themeDuringScope</string>
	<key>pointWithMediator</key>
	<string>gridStateSpacing</string>
	<key>symmetricSinkBrightness</key>
	<string>interactiveMatrixType</string>
</dict>
</plist>
