<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDrawerFrequency</key>
	<string>eventBridgeSpeed</string>
	<key>controllerStructureVisibility</key>
	<string>draggableButtonMomentum</string>
	<key>cosineTaskFrequency</key>
	<string>usecaseStateTop</string>
	<key>uniformCommandDirection</key>
	<string>typicalEventMomentum</string>
</dict>
</plist>
