<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitMediatorResponse</key>
	<string>protocolChainFrequency</string>
	<key>columnByScope</key>
	<string>activityViaVariable</string>
	<key>easyGradientTheme</key>
	<string>difficultNotifierTransparency</string>
	<key>heapNearStyle</key>
	<string>animatedcontainerAboutPrototype</string>
	<key>hyperbolicExceptionName</key>
	<string>backwardButtonBound</string>
	<key>widgetFlyweightVisibility</key>
	<string>staticMonsterDirection</string>
</dict>
</plist>
