<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridBeyondCycle</key>
	<string>sceneAboutBridge</string>
	<key>observerPlatformPosition</key>
	<string>stateShapeMode</string>
	<key>sliderAndStructure</key>
	<string>samplePlatformDistance</string>
	<key>techniqueBeyondVisitor</key>
	<string>baselineMediatorName</string>
</dict>
</plist>
