<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationNearLevel</key>
	<string>nodeOperationShade</string>
	<key>futureSinceProcess</key>
	<string>animatedcontainerAdapterStatus</string>
	<key>iconThanAction</key>
	<string>dialogsChainDirection</string>
	<key>intermediateSubscriptionLocation</key>
	<string>mobileAwayTask</string>
	<key>priorCollectionMomentum</key>
	<string>resultMethodTension</string>
	<key>singleEffectOrigin</key>
	<string>configurationForNumber</string>
	<key>subsequentScaffoldFeedback</key>
	<string>extensionAroundScope</string>
	<key>techniqueExceptType</key>
	<string>liteRowFlags</string>
	<key>viewDecoratorEdge</key>
	<string>checkboxOperationFormat</string>
</dict>
</plist>
