<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorDuringVar</key>
	<string>storeForAdapter</string>
	<key>dependencyWithoutSingleton</key>
	<string>completerDuringValue</string>
	<key>directDelegateRotation</key>
	<string>oldSceneBehavior</string>
	<key>gestureByJob</key>
	<string>substantialRadioFeedback</string>
	<key>notifierAtFramework</key>
	<string>transformerVersusStage</string>
	<key>specifyBitrateMode</key>
	<string>baseContextKind</string>
	<key>topicContextDepth</key>
	<string>greatCoordinatorScale</string>
	<key>viewWorkForce</key>
	<string>curveModeHue</string>
</dict>
</plist>
