<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedModelScale</key>
	<string>musicFormIndex</string>
	<key>containerAwayStage</key>
	<string>seamlessSingletonTop</string>
	<key>controllerDuringValue</key>
	<string>channelsValueCoord</string>
	<key>decorationAtDecorator</key>
	<string>histogramPrototypeSaturation</string>
	<key>directlyContainerSkewx</key>
	<string>reusableCardShape</string>
	<key>elasticViewBorder</key>
	<string>backwardAxisBound</string>
	<key>painterAtMediator</key>
	<string>declarativeTextLeft</string>
	<key>titleDecoratorEdge</key>
	<string>routeDuringStrategy</string>
</dict>
</plist>
