<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableControllerPressure</key>
	<string>ignoredNotifierRate</string>
	<key>handlerLayerVisibility</key>
	<string>basicModelTag</string>
	<key>previewOutsideNumber</key>
	<string>graphOperationOrigin</string>
	<key>rowBeyondActivity</key>
	<string>ternaryKindCoord</string>
	<key>sizeTaskDelay</key>
	<string>smartStorageVisibility</string>
	<key>storeAboutFramework</key>
	<string>cubitForTemple</string>
	<key>threadViaKind</key>
	<string>normCycleIndex</string>
</dict>
</plist>
