<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionPrototypeFormat</key>
	<string>lostPlaybackSpacing</string>
	<key>builderAdapterInset</key>
	<string>basicRichtextCenter</string>
	<key>featureInsidePhase</key>
	<string>adaptiveCupertinoCoord</string>
	<key>labelExceptFunction</key>
	<string>blocInFacade</string>
	<key>lastProviderForce</key>
	<string>transitionSystemTension</string>
	<key>symmetricChapterInterval</key>
	<string>tweenVariableSkewy</string>
	<key>visibleHashBound</key>
	<string>diffableStreamOpacity</string>
</dict>
</plist>
