<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityPrototypeForce</key>
	<string>futureModeSpeed</string>
	<key>dependencyAlongLevel</key>
	<string>featureOrForm</string>
	<key>frameTierScale</key>
	<string>commandPerKind</string>
	<key>interactiveLabelBorder</key>
	<string>routeSinceMemento</string>
	<key>lazyStoreSkewy</key>
	<string>viewInShape</string>
	<key>nodeAboutAction</key>
	<string>resourceWithNumber</string>
	<key>operationUntilOperation</key>
	<string>storageLikeStructure</string>
	<key>rapidAlignmentAcceleration</key>
	<string>firstMasterPadding</string>
	<key>sceneNumberVelocity</key>
	<string>sizedboxStageKind</string>
</dict>
</plist>
