<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveGesturedetectorLeft</key>
	<string>transitionAdapterAppearance</string>
	<key>crucialSizedboxMode</key>
	<string>sensorObserverFeedback</string>
	<key>histogramTaskTint</key>
	<string>agileControllerStyle</string>
	<key>responseShapeScale</key>
	<string>localizationStageTransparency</string>
	<key>smartMenuDuration</key>
	<string>nodeAndNumber</string>
</dict>
</plist>
