<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicAnimationCount</key>
	<string>logarithmShapeIndex</string>
	<key>multiObserverValidation</key>
	<string>vectorThanType</string>
	<key>particleOutsideVariable</key>
	<string>popupUntilTask</string>
	<key>queryStageOpacity</key>
	<string>declarativeContainerMomentum</string>
	<key>semanticQueueTheme</key>
	<string>hardTaskMode</string>
	<key>streamStateDirection</key>
	<string>displayableBlocTension</string>
</dict>
</plist>
