<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heroJobLocation</key>
	<string>smartRowDistance</string>
	<key>parallelGateInterval</key>
	<string>localizationWorkFrequency</string>
	<key>segueInterpreterInteraction</key>
	<string>multiEntityOrientation</string>
	<key>stateAsMode</key>
	<string>graphicShapeRight</string>
	<key>substantialConfigurationVelocity</key>
	<string>activeHashColor</string>
	<key>subtleTabviewBottom</key>
	<string>constraintPrototypeState</string>
	<key>transitionInterpreterIndex</key>
	<string>menuWithoutJob</string>
</dict>
</plist>
