<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCursorColor</key>
	<string>decorationTierState</string>
	<key>deferredGraphCoord</key>
	<string>toolContextBehavior</string>
	<key>descriptorFlyweightSkewx</key>
	<string>primaryGrainMomentum</string>
	<key>descriptorThanBuffer</key>
	<string>cursorPatternLeft</string>
	<key>gestureAroundKind</key>
	<string>decorationKindIndex</string>
	<key>promiseLevelDuration</key>
	<string>mobileRectVisibility</string>
	<key>tickerByStage</key>
	<string>responsiveEffectCenter</string>
</dict>
</plist>
