<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionPositionRotation</key>
	<string>prismaticGiftDistance</string>
	<key>chapterShapeTop</key>
	<string>bitrateAndState</string>
	<key>globalBuilderVisible</key>
	<string>observerAmongValue</string>
	<key>materialButtonRate</key>
	<string>borderCompositeShade</string>
	<key>otherResourceColor</key>
	<string>hashVisitorSpacing</string>
	<key>paddingAroundPhase</key>
	<string>tweenParameterScale</string>
	<key>themeOrParameter</key>
	<string>frameBesideMethod</string>
</dict>
</plist>
