<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncByParameter</key>
	<string>mainContainerTheme</string>
	<key>localStoreMomentum</key>
	<string>cupertinoInterpolationSkewx</string>
	<key>protocolAboutTier</key>
	<string>pinchableDelegatePadding</string>
	<key>publicBaselineBrightness</key>
	<string>segueWithPrototype</string>
	<key>reusableAspectFlags</key>
	<string>storeVarBorder</string>
	<key>tappableTitleBound</key>
	<string>roleParamLeft</string>
</dict>
</plist>
