<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertWithoutShape</key>
	<string>sessionBesideStage</string>
	<key>geometricEntropyDelay</key>
	<string>opaqueDrawerAlignment</string>
	<key>multiTickerKind</key>
	<string>labelParamSize</string>
	<key>optionModeRight</key>
	<string>masterChainTheme</string>
	<key>queueProcessBound</key>
	<string>hierarchicalAlertResponse</string>
	<key>requestWithState</key>
	<string>constraintTempleVisibility</string>
	<key>titleAndTemple</key>
	<string>tableActivityEdge</string>
</dict>
</plist>
