<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customGridviewMargin</key>
	<string>advancedCompositionAcceleration</string>
	<key>euclideanNotifierSkewx</key>
	<string>accessoryInStrategy</string>
	<key>grayscaleSinceVar</key>
	<string>usecasePatternSkewy</string>
	<key>immutableStepMode</key>
	<string>rowForCycle</string>
	<key>mediaPhaseForce</key>
	<string>spritePhaseDensity</string>
	<key>tableNumberFlags</key>
	<string>sequentialStateDistance</string>
	<key>timerSystemDepth</key>
	<string>boxFrameworkCenter</string>
</dict>
</plist>
