<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityUntilProcess</key>
	<string>gestureSystemBrightness</string>
	<key>menuForLevel</key>
	<string>responseTempleValidation</string>
	<key>sharedCardValidation</key>
	<string>channelsNumberPadding</string>
	<key>uniformControllerDirection</key>
	<string>chapterStyleRight</string>
	<key>workflowAmongLayer</key>
	<string>resultForJob</string>
</dict>
</plist>
