<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitContextDirection</key>
	<string>resourceWithPhase</string>
	<key>blocMediatorDistance</key>
	<string>channelsWithoutPattern</string>
	<key>inkwellOfTask</key>
	<string>notifierVisitorKind</string>
	<key>interfaceThanPhase</key>
	<string>controllerOrShape</string>
	<key>intermediateStatelessShade</key>
	<string>vectorObserverName</string>
	<key>newestRequestColor</key>
	<string>crudeOperationFrequency</string>
	<key>routeLayerCenter</key>
	<string>isolateOperationMomentum</string>
	<key>storyboardFormCoord</key>
	<string>customizedStreamStyle</string>
	<key>switchThroughStage</key>
	<string>radiusObserverMomentum</string>
	<key>workflowUntilForm</key>
	<string>repositoryProcessBorder</string>
</dict>
</plist>
