<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customTickerStatus</key>
	<string>controllerKindName</string>
	<key>diversifiedResourceShade</key>
	<string>routeSingletonDensity</string>
	<key>normObserverDelay</key>
	<string>statelessHandlerFeedback</string>
	<key>stepInShape</key>
	<string>cubitProxyBorder</string>
	<key>titleNearTask</key>
	<string>specifyHashScale</string>
	<key>workflowNumberTint</key>
	<string>painterSinceParameter</string>
</dict>
</plist>
