<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAndDecorator</key>
	<string>accordionDelegateMomentum</string>
	<key>mainGestureSkewx</key>
	<string>flexibleModelFeedback</string>
	<key>resizableShaderCount</key>
	<string>axisValueBehavior</string>
	<key>storageInsidePrototype</key>
	<string>awaitJobLeft</string>
	<key>touchAmongBridge</key>
	<string>descriptorNearCycle</string>
</dict>
</plist>
