<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineStrategyLocation</key>
	<string>monsterTempleShape</string>
	<key>controllerNearTask</key>
	<string>tweenThroughBridge</string>
	<key>flexAgainstFlyweight</key>
	<string>statelessMasterCount</string>
	<key>gramAwayInterpreter</key>
	<string>buttonScopeMomentum</string>
	<key>graphicFormVelocity</key>
	<string>textureAwayKind</string>
	<key>handlerDespiteAdapter</key>
	<string>metadataFromParam</string>
	<key>notifierMethodLeft</key>
	<string>euclideanUtilMargin</string>
	<key>presenterDespiteValue</key>
	<string>delegateWithStructure</string>
	<key>subtleCertificateMode</key>
	<string>responseMementoCoord</string>
	<key>taskSinceBuffer</key>
	<string>curveWithStyle</string>
</dict>
</plist>
