<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryFrameworkRotation</key>
	<string>completionLevelIndex</string>
	<key>cosineLayerForce</key>
	<string>resultAlongPattern</string>
	<key>gramModeContrast</key>
	<string>sharedCubitEdge</string>
	<key>layoutOfLevel</key>
	<string>comprehensiveBorderType</string>
	<key>materialLevelEdge</key>
	<string>standaloneResolverTop</string>
	<key>progressbarBesideStage</key>
	<string>menuOfFlyweight</string>
	<key>requiredLayoutFlags</key>
	<string>blocWithoutPhase</string>
</dict>
</plist>
