<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryBeyondFramework</key>
	<string>storageStageTint</string>
	<key>blocVariableBottom</key>
	<string>controllerModePosition</string>
	<key>columnMementoDuration</key>
	<string>oldReducerMargin</string>
	<key>comprehensiveDecorationLeft</key>
	<string>diversifiedGraphInterval</string>
	<key>decorationScopeDelay</key>
	<string>parallelSliderBound</string>
	<key>geometricCellTransparency</key>
	<string>actionPerObserver</string>
	<key>graphSystemDelay</key>
	<string>containerVersusBridge</string>
	<key>statelessEntityDuration</key>
	<string>mobileFromScope</string>
	<key>temporaryResolverTag</key>
	<string>tickerFromPattern</string>
</dict>
</plist>
