<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartViaStage</key>
	<string>eventWithCycle</string>
	<key>columnStageEdge</key>
	<string>completerSinceParam</string>
	<key>desktopInjectionHue</key>
	<string>observerVariableSize</string>
	<key>durationFlyweightSkewy</key>
	<string>drawerKindSaturation</string>
	<key>lostAllocatorType</key>
	<string>equalizationOutsideFunction</string>
	<key>missedMemberContrast</key>
	<string>framePhaseTag</string>
	<key>screenStructureLocation</key>
	<string>canvasValueInterval</string>
	<key>streamAtVariable</key>
	<string>expandedParamStyle</string>
	<key>tensorScaleFlags</key>
	<string>taskThroughJob</string>
	<key>typicalUsecaseRate</key>
	<string>materialAlongBuffer</string>
</dict>
</plist>
