<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisContextSkewx</key>
	<string>swiftPlatformBorder</string>
	<key>cartesianStoreForce</key>
	<string>priorityShapeRight</string>
	<key>checkboxInContext</key>
	<string>tweenFacadeDepth</string>
	<key>columnByPrototype</key>
	<string>semanticsParamSkewx</string>
	<key>containerPlatformInteraction</key>
	<string>metadataInterpreterLeft</string>
	<key>finalTickerContrast</key>
	<string>rowAgainstDecorator</string>
	<key>navigationMethodOpacity</key>
	<string>scaleStyleSpeed</string>
	<key>rowShapeDuration</key>
	<string>animationBeyondAction</string>
</dict>
</plist>
