<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackParameterDensity</key>
	<string>associatedBaselineContrast</string>
	<key>capsuleVarMomentum</key>
	<string>smartRouteType</string>
	<key>captionFrameworkShape</key>
	<string>transitionAroundSingleton</string>
	<key>immutableSpriteAcceleration</key>
	<string>hierarchicalSpriteResponse</string>
	<key>largeMenuLeft</key>
	<string>descriptionInterpreterInterval</string>
	<key>multiResolverSpacing</key>
	<string>diffableCursorMargin</string>
	<key>protectedNotificationOrientation</key>
	<string>cacheIncludeVariable</string>
</dict>
</plist>
