<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredScaleOrigin</key>
	<string>painterNumberTension</string>
	<key>disabledImageState</key>
	<string>sustainableRoleAppearance</string>
	<key>grainStrategyStyle</key>
	<string>relationalTangentMomentum</string>
	<key>mutableClipperRate</key>
	<string>previewLayerFlags</string>
	<key>progressbarAwayPattern</key>
	<string>typicalBlocFeedback</string>
	<key>robustParticleKind</key>
	<string>injectionInParam</string>
	<key>spotVarHead</key>
	<string>autoPresenterTop</string>
	<key>statelessInSystem</key>
	<string>futureStageName</string>
	<key>techniqueOperationHue</key>
	<string>notifierForJob</string>
</dict>
</plist>
