<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticDuringTier</key>
	<string>musicMethodInset</string>
	<key>gridAroundForm</key>
	<string>callbackPatternShape</string>
	<key>hierarchicalCharacterCoord</key>
	<string>positionStageInteraction</string>
	<key>priorResponsePressure</key>
	<string>listviewSystemTint</string>
	<key>repositoryLikeLevel</key>
	<string>intensitySystemLeft</string>
	<key>respectiveProgressbarTheme</key>
	<string>consultativeOffsetSize</string>
	<key>robustButtonDistance</key>
	<string>usageFlyweightPadding</string>
	<key>semanticRequestDelay</key>
	<string>buttonAboutCycle</string>
	<key>spotLayerTransparency</key>
	<string>petAwayType</string>
</dict>
</plist>
