<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadataWorkDistance</key>
	<string>methodJobBound</string>
	<key>previewThanInterpreter</key>
	<string>taskExceptMediator</string>
	<key>semanticShaderPressure</key>
	<string>clipperParamAppearance</string>
</dict>
</plist>
