<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureStructureHead</key>
	<string>catalystAboutAction</string>
	<key>dialogsBesideContext</key>
	<string>dynamicPositionDirection</string>
	<key>graphicFromForm</key>
	<string>usedButtonDistance</string>
	<key>invisibleControllerFormat</key>
	<string>hardEffectTension</string>
	<key>kernelSingletonDelay</key>
	<string>vectorPlatformLeft</string>
	<key>movementSystemValidation</key>
	<string>layerAndAction</string>
	<key>plateVersusLevel</key>
	<string>rowOperationDistance</string>
	<key>resizableRemainderAlignment</key>
	<string>prismaticResourceMode</string>
	<key>spotPerCycle</key>
	<string>subsequentNavigationFormat</string>
	<key>usecaseBufferSpacing</key>
	<string>routeFunctionBehavior</string>
</dict>
</plist>
