<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxPrototypePressure</key>
	<string>kernelKindPadding</string>
	<key>durationStrategyEdge</key>
	<string>interfaceAroundDecorator</string>
	<key>lostAwaitForce</key>
	<string>tabbarPatternDepth</string>
	<key>notifierCommandMomentum</key>
	<string>cubitActivityStyle</string>
	<key>previewAtSystem</key>
	<string>cellVersusWork</string>
	<key>subscriptionDuringDecorator</key>
	<string>largeKernelValidation</string>
	<key>typicalSessionIndex</key>
	<string>operationParameterEdge</string>
</dict>
</plist>
