<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousGridviewState</key>
	<string>asyncSliderBrightness</string>
	<key>curveActivityDistance</key>
	<string>granularSwiftTail</string>
	<key>decorationIncludeContext</key>
	<string>inkwellKindTail</string>
	<key>directTabviewPosition</key>
	<string>subscriptionByContext</string>
	<key>nextRichtextOpacity</key>
	<string>singleAwaitCount</string>
	<key>profileStageInset</key>
	<string>indicatorBridgeKind</string>
	<key>sophisticatedStepDuration</key>
	<string>referenceValueDuration</string>
	<key>tabviewThanStrategy</key>
	<string>bufferStyleMode</string>
</dict>
</plist>
