<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorProxyInterval</key>
	<string>smartCapacitiesName</string>
	<key>batchBesideStage</key>
	<string>queueStateType</string>
	<key>declarativeTextInteraction</key>
	<string>axisBeyondPrototype</string>
	<key>dedicatedAspectRate</key>
	<string>synchronousSineEdge</string>
</dict>
</plist>
