<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionParamRate</key>
	<string>priorIntensityStyle</string>
	<key>alphaOutsideAction</key>
	<string>rectValueBottom</string>
	<key>animationFormKind</key>
	<string>alertWithoutOperation</string>
	<key>buttonSingletonLocation</key>
	<string>retainedMusicEdge</string>
	<key>decorationFrameworkTint</key>
	<string>intermediateAccessoryTop</string>
	<key>enabledPositionedFlags</key>
	<string>controllerAmongContext</string>
	<key>interfaceLevelInterval</key>
	<string>resourceOutsideFacade</string>
	<key>sequentialErrorPosition</key>
	<string>pivotalUtilBrightness</string>
	<key>unaryParameterRight</key>
	<string>vectorThanWork</string>
	<key>zonePlatformMode</key>
	<string>chartAlongFramework</string>
</dict>
</plist>
