<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseNavigatorSize</key>
	<string>signatureTempleTail</string>
	<key>logarithmChainBound</key>
	<string>observerInsideForm</string>
	<key>managerAboutCycle</key>
	<string>asyncByPlatform</string>
	<key>radioNumberBottom</key>
	<string>sampleKindSkewy</string>
	<key>reductionAtMethod</key>
	<string>unaryJobAcceleration</string>
	<key>retainedHandlerOrientation</key>
	<string>firstCacheName</string>
	<key>tappableAnchorState</key>
	<string>bulletActivityForce</string>
</dict>
</plist>
