<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectOfParameter</key>
	<string>presenterStructureVisible</string>
	<key>assetPhaseSpacing</key>
	<string>basicMovementShape</string>
	<key>containerActionInset</key>
	<string>specifyListenerTint</string>
	<key>materialStackCoord</key>
	<string>sampleDespiteProxy</string>
	<key>mediumAxisShape</key>
	<string>modalProcessMargin</string>
	<key>missedTitleMode</key>
	<string>alignmentWithNumber</string>
	<key>presenterAlongWork</key>
	<string>easyTransformerInteraction</string>
	<key>vectorBridgeInterval</key>
	<string>catalystAmongAdapter</string>
</dict>
</plist>
