<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionObserverSpacing</key>
	<string>apertureForForm</string>
	<key>alignmentWithProxy</key>
	<string>intensitySinceInterpreter</string>
	<key>dynamicResponseState</key>
	<string>spriteFrameworkDirection</string>
	<key>responsiveSizeKind</key>
	<string>asyncNearTask</string>
</dict>
</plist>
