<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationOrParam</key>
	<string>lostLogarithmForce</string>
	<key>disparateStorePadding</key>
	<string>constraintFacadeKind</string>
	<key>firstAnchorDepth</key>
	<string>sortedModelColor</string>
	<key>handlerStructureFormat</key>
	<string>progressbarNumberPressure</string>
	<key>imperativeSingletonCenter</key>
	<string>commonStoryboardTop</string>
	<key>localGramForce</key>
	<string>borderStyleFormat</string>
	<key>localViewOffset</key>
	<string>textProcessMode</string>
	<key>nextPositionMargin</key>
	<string>priorActivityTint</string>
	<key>rowInBuffer</key>
	<string>heroVarRight</string>
	<key>tickerFunctionTension</key>
	<string>substantialGraphSkewx</string>
</dict>
</plist>
