<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralEqualizationColor</key>
	<string>buttonFromVariable</string>
	<key>factoryContainMode</key>
	<string>mainStepSaturation</string>
	<key>keyConvolutionBottom</key>
	<string>invisibleGroupCenter</string>
	<key>positionedAdapterResponse</key>
	<string>reducerKindState</string>
</dict>
</plist>
