<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curvePlatformBrightness</key>
	<string>integerNearMediator</string>
	<key>interactiveHistogramInset</key>
	<string>sceneActionInterval</string>
	<key>momentumWithCommand</key>
	<string>grayscaleSinceParam</string>
	<key>symmetricEntropyAcceleration</key>
	<string>streamLikePattern</string>
	<key>tableBridgeFlags</key>
	<string>factoryAtMode</string>
	<key>textScopeInteraction</key>
	<string>multiContractionFlags</string>
</dict>
</plist>
