<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileStorageVisible</key>
	<string>themeFromStyle</string>
	<key>commonResourceSpeed</key>
	<string>nibLikePattern</string>
	<key>explicitCommandOffset</key>
	<string>stateParamContrast</string>
	<key>functionalPositionedBound</key>
	<string>hierarchicalFeatureMargin</string>
	<key>heapKindCoord</key>
	<string>explicitDocumentPadding</string>
	<key>inheritedStoryboardFrequency</key>
	<string>roleUntilDecorator</string>
	<key>logStateHue</key>
	<string>retainedStepResponse</string>
</dict>
</plist>
