<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureFacadeRate</key>
	<string>skinTempleTop</string>
	<key>characterModeLeft</key>
	<string>logarithmBeyondMode</string>
	<key>gridviewAboutParam</key>
	<string>reductionInsideParam</string>
	<key>particleJobDelay</key>
	<string>plateLikeFunction</string>
	<key>rapidCupertinoHead</key>
	<string>presenterAsForm</string>
	<key>specifySlashTop</key>
	<string>serviceMethodTheme</string>
</dict>
</plist>
