<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorVariableTint</key>
	<string>menuOperationEdge</string>
	<key>otherRouteCenter</key>
	<string>tensorProviderInterval</string>
	<key>presenterInLevel</key>
	<string>dedicatedMapTheme</string>
	<key>sinkContainLayer</key>
	<string>tickerLevelShape</string>
	<key>stateTempleTail</key>
	<string>responseJobForce</string>
	<key>switchAwayTemple</key>
	<string>bufferForPattern</string>
</dict>
</plist>
