<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxAroundTask</key>
	<string>skinPrototypeBound</string>
	<key>globalCubitAlignment</key>
	<string>loopBeyondStyle</string>
	<key>intuitiveAnchorMomentum</key>
	<string>bufferCycleAcceleration</string>
	<key>movementTaskTail</key>
	<string>repositoryStateMode</string>
	<key>particleParameterShape</key>
	<string>lazyConstraintInterval</string>
	<key>responseViaNumber</key>
	<string>concurrentRowName</string>
	<key>unsortedUtilResponse</key>
	<string>singleLogarithmAcceleration</string>
</dict>
</plist>
