<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileInjectionVisible</key>
	<string>coordinatorContainStrategy</string>
	<key>extensionInsideFramework</key>
	<string>skirtOutsideBuffer</string>
	<key>isolateFacadeKind</key>
	<string>listenerAroundFramework</string>
	<key>lastTransformerPressure</key>
	<string>behaviorAlongAdapter</string>
	<key>newestMetadataTransparency</key>
	<string>sliderAdapterFeedback</string>
	<key>timerObserverDelay</key>
	<string>buttonTempleSaturation</string>
</dict>
</plist>
