<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderNumberSkewy</key>
	<string>momentumDuringVariable</string>
	<key>boxOrStructure</key>
	<string>sliderAdapterCount</string>
	<key>dependencyExceptPhase</key>
	<string>frameOfObserver</string>
	<key>gridMediatorTransparency</key>
	<string>collectionInsideComposite</string>
	<key>largeSizeName</key>
	<string>groupPlatformVisible</string>
	<key>localThemeStatus</key>
	<string>presenterActionEdge</string>
	<key>navigationPatternTag</key>
	<string>heapViaOperation</string>
	<key>navigatorWithType</key>
	<string>radioOfProxy</string>
	<key>sessionWorkPadding</key>
	<string>sinkObserverRotation</string>
	<key>symmetricCubitHue</key>
	<string>independentQueryAppearance</string>
</dict>
</plist>
