<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncBesideEnvironment</key>
	<string>layoutBesideMethod</string>
	<key>certificateChainState</key>
	<string>temporaryMetadataFormat</string>
	<key>contractionUntilParameter</key>
	<string>themeOutsidePrototype</string>
	<key>curveAtShape</key>
	<string>groupForContext</string>
	<key>exponentCommandLocation</key>
	<string>signInterpreterMode</string>
	<key>lostRadioBehavior</key>
	<string>animatedIntensityValidation</string>
	<key>matrixObserverShape</key>
	<string>descriptionOperationOrientation</string>
	<key>mediumDelegateInset</key>
	<string>statefulFutureAcceleration</string>
	<key>priorTangentDistance</key>
	<string>bitrateSystemResponse</string>
	<key>statefulNearProxy</key>
	<string>staticRiverpodSkewy</string>
</dict>
</plist>
