<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerVersusPattern</key>
	<string>dialogsDecoratorTop</string>
	<key>explicitCustompaintFlags</key>
	<string>iterativeBoxDensity</string>
	<key>futureAlongStage</key>
	<string>mutableTransitionPadding</string>
	<key>signVersusWork</key>
	<string>otherResultFeedback</string>
	<key>statelessStructureLocation</key>
	<string>cupertinoMenuHead</string>
</dict>
</plist>
