<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticStreamTheme</key>
	<string>projectionTempleInset</string>
	<key>borderThanKind</key>
	<string>normPrototypeSaturation</string>
	<key>cellStructureSaturation</key>
	<string>builderPlatformSaturation</string>
	<key>curveActionVelocity</key>
	<string>cycleAroundObserver</string>
	<key>heroVersusMediator</key>
	<string>staticOperationCenter</string>
	<key>logarithmLikeBuffer</key>
	<string>pinchablePresenterBorder</string>
	<key>resourceProxyAlignment</key>
	<string>effectAtFacade</string>
	<key>storeEnvironmentName</key>
	<string>interfaceTypeSkewy</string>
	<key>timerStateBehavior</key>
	<string>transformerFlyweightValidation</string>
	<key>uniformLayoutOffset</key>
	<string>parallelModalBorder</string>
</dict>
</plist>
