<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxAsMemento</key>
	<string>fixedRowFormat</string>
	<key>capsuleUntilInterpreter</key>
	<string>delegateBridgeTop</string>
	<key>displayableSubscriptionFlags</key>
	<string>operationNearProcess</string>
	<key>functionalSwiftShape</key>
	<string>curveThroughObserver</string>
	<key>kernelShapeDelay</key>
	<string>reducerFromInterpreter</string>
</dict>
</plist>
