<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileGramDirection</key>
	<string>capsuleAmongFramework</string>
	<key>aspectratioForComposite</key>
	<string>mutableSpriteCount</string>
	<key>hashDespiteVariable</key>
	<string>responseBesideProcess</string>
	<key>intensityStageIndex</key>
	<string>compositionalUtilSkewx</string>
	<key>sustainableSinkPressure</key>
	<string>techniqueNearVar</string>
	<key>tensorIconSaturation</key>
	<string>factoryOutsideMediator</string>
	<key>textureFromComposite</key>
	<string>interfaceThanAdapter</string>
	<key>tweenAdapterTension</key>
	<string>stepDuringProxy</string>
</dict>
</plist>
