<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectBySystem</key>
	<string>activityBeyondCycle</string>
	<key>columnVarValidation</key>
	<string>containerInPattern</string>
	<key>compositionAwayPrototype</key>
	<string>descriptionPrototypeVisibility</string>
	<key>concurrentTransformerTop</key>
	<string>crucialDialogsSpeed</string>
	<key>musicStyleStyle</key>
	<string>boxshadowFacadeTag</string>
	<key>nibAwaySingleton</key>
	<string>usecaseAroundStrategy</string>
	<key>singleTextTag</key>
	<string>dropdownbuttonUntilWork</string>
	<key>singletonCycleLeft</key>
	<string>boxAboutTier</string>
	<key>timerContainJob</key>
	<string>labelAgainstNumber</string>
	<key>uniqueLabelInteraction</key>
	<string>optimizerContainFramework</string>
</dict>
</plist>
