<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterVarDuration</key>
	<string>grainAwayVisitor</string>
	<key>characterActivityMode</key>
	<string>explicitSizedboxInset</string>
	<key>entityDuringFramework</key>
	<string>equipmentCycleDensity</string>
	<key>isolateUntilStage</key>
	<string>mobxAndJob</string>
	<key>mainScaleTheme</key>
	<string>staticLossDensity</string>
	<key>projectOfLevel</key>
	<string>temporarySceneDuration</string>
	<key>widgetParamMargin</key>
	<string>hashFrameworkFeedback</string>
</dict>
</plist>
