<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateViaCycle</key>
	<string>dedicatedGridviewPressure</string>
	<key>cursorAdapterPosition</key>
	<string>usecaseStateBottom</string>
	<key>descriptorPerType</key>
	<string>queueWithoutAdapter</string>
	<key>directlySkinSpeed</key>
	<string>substantialInkwellRotation</string>
	<key>enabledRequestMode</key>
	<string>musicVersusWork</string>
	<key>groupJobTension</key>
	<string>granularMetadataRate</string>
</dict>
</plist>
