<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAmongMode</key>
	<string>cubitPlatformSize</string>
	<key>channelFunctionBound</key>
	<string>liteCupertinoKind</string>
	<key>contractionByForm</key>
	<string>temporaryLayerTransparency</string>
	<key>dependencyJobRotation</key>
	<string>pinchableMissionInset</string>
	<key>futureWithFacade</key>
	<string>crucialNibTransparency</string>
	<key>grayscaleBufferRotation</key>
	<string>standaloneMusicDirection</string>
	<key>handlerNumberDepth</key>
	<string>materialBasePressure</string>
	<key>textFromForm</key>
	<string>staticMemberMode</string>
	<key>timerTierPosition</key>
	<string>resolverOrOperation</string>
	<key>viewSinceState</key>
	<string>stepMediatorType</string>
</dict>
</plist>
