<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateAwayFunction</key>
	<string>flexNearComposite</string>
	<key>captionSystemRate</key>
	<string>buttonOutsideBridge</string>
	<key>effectFunctionPosition</key>
	<string>commonFrameKind</string>
	<key>entityEnvironmentShape</key>
	<string>managerFrameworkDensity</string>
	<key>hashUntilDecorator</key>
	<string>entropyAroundSingleton</string>
	<key>interfaceBeyondMethod</key>
	<string>builderViaDecorator</string>
	<key>nativeDescriptionDensity</key>
	<string>navigatorAsPattern</string>
	<key>statefulAssetMode</key>
	<string>durationWithScope</string>
	<key>unactivatedSineVisibility</key>
	<string>listenerPrototypeMomentum</string>
</dict>
</plist>
