<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileListenerResponse</key>
	<string>decorationAndLevel</string>
	<key>assetIncludePlatform</key>
	<string>touchOrEnvironment</string>
	<key>chapterIncludeOperation</key>
	<string>documentVersusMemento</string>
	<key>customizedGraphVelocity</key>
	<string>durationParamColor</string>
	<key>entityViaKind</key>
	<string>functionalMediaqueryRate</string>
	<key>euclideanErrorTransparency</key>
	<string>semanticContainerSpacing</string>
	<key>referenceBesideType</key>
	<string>unsortedCycleRight</string>
	<key>temporaryDelegateBrightness</key>
	<string>subscriptionContainOperation</string>
	<key>textInterpreterShade</key>
	<string>unsortedSignaturePressure</string>
</dict>
</plist>
