<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAboutType</key>
	<string>intermediateDescriptionOrientation</string>
	<key>criticalChallengeDuration</key>
	<string>inkwellStructureBrightness</string>
	<key>cycleNumberFormat</key>
	<string>instructionAmongType</string>
	<key>layoutStrategyHue</key>
	<string>movementBesideParameter</string>
	<key>mediaVariableCenter</key>
	<string>fragmentModeRight</string>
	<key>providerFlyweightLeft</key>
	<string>deferredTabbarRight</string>
	<key>statefulPrototypeBorder</key>
	<string>eventTypeIndex</string>
</dict>
</plist>
