<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAsyncTop</key>
	<string>dynamicSizeDelay</string>
	<key>buttonActionShade</key>
	<string>rowStyleHead</string>
	<key>diffablePainterRate</key>
	<string>skirtShapeTag</string>
	<key>listenerAgainstTemple</key>
	<string>progressbarByVariable</string>
	<key>missedContainerBrightness</key>
	<string>completionWithoutKind</string>
	<key>unactivatedCompositionFrequency</key>
	<string>cartesianViewCount</string>
	<key>utilPhaseBrightness</key>
	<string>featureOperationKind</string>
</dict>
</plist>
