<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorUntilAction</key>
	<string>layerInterpreterResponse</string>
	<key>factoryAtJob</key>
	<string>commandInsideObserver</string>
	<key>petAtContext</key>
	<string>certificateAmongFramework</string>
	<key>queueSystemMargin</key>
	<string>animatedInteractorDistance</string>
	<key>reducerWithoutLayer</key>
	<string>mapParamFeedback</string>
</dict>
</plist>
