<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerSizeShade</key>
	<string>draggableProviderTop</string>
	<key>canvasActionCenter</key>
	<string>immediateProtocolTension</string>
	<key>certificateParameterShape</key>
	<string>commandPrototypeDensity</string>
	<key>concreteInjectionBottom</key>
	<string>curveParamSaturation</string>
	<key>denseRadioType</key>
	<string>durationStrategySize</string>
	<key>gramThroughBridge</key>
	<string>autoRectSkewx</string>
	<key>queueValueMargin</key>
	<string>delegateStageColor</string>
	<key>smartTitleTop</key>
	<string>factoryDespiteLayer</string>
	<key>subtleSceneOrientation</key>
	<string>resourceValueTag</string>
	<key>tickerVersusStage</key>
	<string>decorationMementoDirection</string>
</dict>
</plist>
