<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopInstructionMomentum</key>
	<string>oldServiceShape</string>
	<key>entropySincePrototype</key>
	<string>sinkKindForce</string>
	<key>granularThreadInteraction</key>
	<string>animationFormName</string>
	<key>intensityLevelRate</key>
	<string>newestMomentumAlignment</string>
	<key>optionAndCommand</key>
	<string>scalePlatformShade</string>
	<key>subtleScreenDepth</key>
	<string>graphicByCommand</string>
	<key>utilByValue</key>
	<string>inkwellFrameworkSpacing</string>
</dict>
</plist>
