<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletMethodVisibility</key>
	<string>futureAndMode</string>
	<key>referenceNearAction</key>
	<string>aspectratioBeyondEnvironment</string>
	<key>stateStrategyHue</key>
	<string>mutableGrainContrast</string>
</dict>
</plist>
