<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleInterfaceAppearance</key>
	<string>statefulBridgeTheme</string>
	<key>curveTierMargin</key>
	<string>protectedSensorPadding</string>
	<key>eagerDescriptionCenter</key>
	<string>nodeCompositeRotation</string>
	<key>providerDuringFunction</key>
	<string>movementLayerCoord</string>
	<key>rectAmongState</key>
	<string>futureOfType</string>
	<key>seamlessOptionCoord</key>
	<string>chapterBridgeTension</string>
	<key>tensorTaskBrightness</key>
	<string>signatureModeBehavior</string>
</dict>
</plist>
