<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationBesideOperation</key>
	<string>giftBesideShape</string>
	<key>heroDecoratorInterval</key>
	<string>sequentialBaseKind</string>
	<key>imageContextAcceleration</key>
	<string>alertBridgeRate</string>
</dict>
</plist>
