<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOrProxy</key>
	<string>baseAtChain</string>
	<key>chartInSystem</key>
	<string>methodBufferForce</string>
	<key>declarativeIconType</key>
	<string>dependencyStageMode</string>
	<key>delicateRowTint</key>
	<string>prevBufferInteraction</string>
	<key>geometricCertificateScale</key>
	<string>reactiveCoordinatorMargin</string>
	<key>responseByCycle</key>
	<string>denseMetadataCoord</string>
	<key>subsequentBuilderForce</key>
	<string>progressbarAwayLevel</string>
</dict>
</plist>
