<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionFromScope</key>
	<string>commonGrainContrast</string>
	<key>missedLayoutKind</key>
	<string>screenCompositeRotation</string>
	<key>observerInsideFunction</key>
	<string>scrollOfOperation</string>
	<key>retainedManagerFormat</key>
	<string>awaitWorkTail</string>
	<key>semanticPresenterIndex</key>
	<string>functionalHashFrequency</string>
</dict>
</plist>
