<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackViaAction</key>
	<string>immutableSlashLeft</string>
	<key>concreteSlashBehavior</key>
	<string>listenerOutsideAdapter</string>
	<key>discardedViewPadding</key>
	<string>lastDescriptionBorder</string>
	<key>layerUntilLayer</key>
	<string>sinkWithoutTemple</string>
	<key>mediocreTaskTail</key>
	<string>streamBesideTask</string>
	<key>relationalUsageContrast</key>
	<string>captionAndPlatform</string>
	<key>shaderWorkCount</key>
	<string>crudeAnimatedcontainerCenter</string>
	<key>sinkContainType</key>
	<string>autoLabelVisibility</string>
</dict>
</plist>
