<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentViaDecorator</key>
	<string>statefulResponseTop</string>
	<key>iterativeModelSpeed</key>
	<string>channelUntilBuffer</string>
	<key>smallRectDepth</key>
	<string>tensorStatefulEdge</string>
	<key>taskViaVariable</key>
	<string>apertureAboutType</string>
</dict>
</plist>
