<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetInsideNumber</key>
	<string>relationalAsyncTheme</string>
	<key>geometricDurationResponse</key>
	<string>featureVisitorPosition</string>
	<key>similarProviderCenter</key>
	<string>layoutAmongTemple</string>
	<key>stateAsAdapter</key>
	<string>effectKindScale</string>
	<key>storageSinceVisitor</key>
	<string>layoutTempleTop</string>
</dict>
</plist>
