<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationVariableState</key>
	<string>pinchableDecorationPosition</string>
	<key>awaitTypeTransparency</key>
	<string>allocatorStrategyTransparency</string>
	<key>curveTierStyle</key>
	<string>isolateAlongCommand</string>
	<key>customButtonOffset</key>
	<string>arithmeticPhaseSpacing</string>
	<key>invisibleButtonFormat</key>
	<string>requiredParticleBorder</string>
	<key>loopLikeStructure</key>
	<string>denseManagerForce</string>
	<key>masterLikeProcess</key>
	<string>accordionPositionScale</string>
	<key>repositoryInterpreterSkewx</key>
	<string>channelsCompositeCoord</string>
	<key>temporarySinkPadding</key>
	<string>desktopTickerCenter</string>
	<key>titleObserverIndex</key>
	<string>transformerForPlatform</string>
</dict>
</plist>
