<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nextFragmentBrightness</key>
	<string>transformerStyleCenter</string>
	<key>singleGesturedetectorTransparency</key>
	<string>gemAroundContext</string>
	<key>tweenUntilShape</key>
	<string>accessibleResultEdge</string>
</dict>
</plist>
