<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDurationVisibility</key>
	<string>usecaseFrameworkFlags</string>
	<key>capacitiesAboutFramework</key>
	<string>serviceStageBehavior</string>
	<key>operationAboutWork</key>
	<string>anchorEnvironmentOffset</string>
	<key>seamlessContractionVisible</key>
	<string>layerSystemPressure</string>
	<key>taskWithoutStructure</key>
	<string>capsuleShapeDistance</string>
</dict>
</plist>
