<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeIntegerDirection</key>
	<string>protectedEntropyOffset</string>
	<key>delicateLayoutTension</key>
	<string>remainderMediatorDirection</string>
	<key>modelFromPrototype</key>
	<string>completionBridgeStyle</string>
	<key>reactiveProjectionFeedback</key>
	<string>completionScopeBottom</string>
	<key>singleSubscriptionTag</key>
	<string>statefulPlaybackSaturation</string>
	<key>slashAsSingleton</key>
	<string>temporaryDelegateHead</string>
	<key>stackStrategyCenter</key>
	<string>controllerContainState</string>
</dict>
</plist>
