<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteRadiusIndex</key>
	<string>priorityNearMediator</string>
	<key>currentBinaryLocation</key>
	<string>gridContextMode</string>
	<key>descriptionAlongType</key>
	<string>sliderAsEnvironment</string>
	<key>dialogsAsProcess</key>
	<string>semanticInjectionAcceleration</string>
	<key>gridviewCommandCenter</key>
	<string>gridContextDirection</string>
	<key>sliderFacadeRight</key>
	<string>queryVisitorTransparency</string>
</dict>
</plist>
