<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerBufferDuration</key>
	<string>particleAmongMode</string>
	<key>crucialBitrateRight</key>
	<string>unsortedZoneDuration</string>
	<key>ephemeralCheckboxOpacity</key>
	<string>activatedSessionAppearance</string>
	<key>gateActionTension</key>
	<string>temporaryStreamTransparency</string>
	<key>originalProgressbarVisibility</key>
	<string>operationPlatformCount</string>
	<key>singleUtilSpacing</key>
	<string>remainderObserverTension</string>
	<key>titleFromChain</key>
	<string>layoutJobSkewx</string>
</dict>
</plist>
