<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSemanticsTag</key>
	<string>nativeContainerOffset</string>
	<key>explicitListenerStyle</key>
	<string>bufferTaskDuration</string>
	<key>gemObserverAppearance</key>
	<string>radioShapeVisibility</string>
	<key>nodeMediatorLocation</key>
	<string>roleBeyondJob</string>
	<key>spriteWithoutDecorator</key>
	<string>subtleConvolutionName</string>
	<key>tensorCompositionTheme</key>
	<string>projectionInsideChain</string>
	<key>titleExceptLayer</key>
	<string>mediaTierMode</string>
</dict>
</plist>
