<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateActionVisible</key>
	<string>painterBridgeName</string>
	<key>gridAboutScope</key>
	<string>cellExceptFramework</string>
	<key>pinchableMediaInset</key>
	<string>adaptiveRouteOpacity</string>
	<key>techniqueDespiteDecorator</key>
	<string>hyperbolicCosineOpacity</string>
</dict>
</plist>
