<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveStyleSpacing</key>
	<string>radiusWithoutTier</string>
	<key>desktopGradientRate</key>
	<string>rapidActivitySkewx</string>
	<key>dynamicIntegerMomentum</key>
	<string>tabviewChainSkewy</string>
	<key>gemVarDirection</key>
	<string>exceptionModeMomentum</string>
	<key>getxOutsideTask</key>
	<string>gramShapeEdge</string>
	<key>subsequentMethodOpacity</key>
	<string>secondObserverRate</string>
	<key>tabviewAlongLevel</key>
	<string>positionAlongChain</string>
	<key>transitionSingletonInset</key>
	<string>unsortedRepositoryMomentum</string>
</dict>
</plist>
