<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSpriteDistance</key>
	<string>imperativeListenerCount</string>
	<key>managerCompositeScale</key>
	<string>asyncWithoutAdapter</string>
	<key>musicStrategyDelay</key>
	<string>bulletBridgeForce</string>
	<key>nibSinceFlyweight</key>
	<string>containerPerInterpreter</string>
	<key>optimizerThroughFramework</key>
	<string>batchOrLayer</string>
	<key>persistentCapacitiesPressure</key>
	<string>intensityOutsideChain</string>
	<key>requestPhaseVisibility</key>
	<string>particleChainRate</string>
	<key>spotAtMethod</key>
	<string>viewAsInterpreter</string>
	<key>threadAndTask</key>
	<string>dedicatedPreviewBehavior</string>
	<key>vectorFlyweightRight</key>
	<string>declarativeSpriteCenter</string>
</dict>
</plist>
