<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveGetxName</key>
	<string>animatedOffsetTop</string>
	<key>repositoryTypeVelocity</key>
	<string>cellAmongTemple</string>
	<key>sharedThemeFrequency</key>
	<string>presenterAgainstTier</string>
</dict>
</plist>
