<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableExtensionCoord</key>
	<string>tickerEnvironmentTop</string>
	<key>hyperbolicMonsterBrightness</key>
	<string>widgetScopeVisibility</string>
	<key>navigatorOperationSkewx</key>
	<string>elasticSpriteOpacity</string>
	<key>requiredChannelsBrightness</key>
	<string>alignmentVarName</string>
	<key>resourceSystemAlignment</key>
	<string>respectiveTaskBound</string>
	<key>signatureVersusForm</key>
	<string>entityFormAppearance</string>
	<key>tangentActionScale</key>
	<string>capacitiesBesideForm</string>
	<key>taskWithoutChain</key>
	<string>temporaryGradientSkewx</string>
	<key>textureOutsideParam</key>
	<string>descriptionStructureTint</string>
</dict>
</plist>
