<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAboutTemple</key>
	<string>constPresenterInset</string>
	<key>grainParameterMomentum</key>
	<string>singletonByCycle</string>
	<key>localizationObserverTension</key>
	<string>customDelegateTransparency</string>
	<key>sessionDespiteForm</key>
	<string>textureFrameworkShade</string>
	<key>subsequentBuilderTheme</key>
	<string>navigatorScopeDistance</string>
	<key>synchronousExpandedTheme</key>
	<string>radiusInsideActivity</string>
	<key>transitionPerCommand</key>
	<string>crudeCacheRate</string>
</dict>
</plist>
