<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalCubitIndex</key>
	<string>tweenPatternInterval</string>
	<key>globalVectorTint</key>
	<string>instructionShapeVisibility</string>
	<key>modulusExceptPattern</key>
	<string>crudeThemeRight</string>
	<key>nextLayerCoord</key>
	<string>geometricMemberOrigin</string>
	<key>permissiveInterpolationLeft</key>
	<string>sliderStateCenter</string>
	<key>priorityThroughEnvironment</key>
	<string>sinkFacadeOrientation</string>
	<key>resourceActionTail</key>
	<string>repositoryMethodTint</string>
	<key>reusableFactoryColor</key>
	<string>difficultDependencyFeedback</string>
	<key>significantRiverpodAppearance</key>
	<string>basicResultTint</string>
	<key>usecaseByForm</key>
	<string>coordinatorDecoratorDirection</string>
</dict>
</plist>
