<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationTempleOrientation</key>
	<string>transformerUntilProxy</string>
	<key>coordinatorOfSingleton</key>
	<string>retainedQueueShade</string>
	<key>directSegueIndex</key>
	<string>smartMatrixDirection</string>
	<key>intuitiveContainerAppearance</key>
	<string>kernelDecoratorAcceleration</string>
	<key>singleExponentInteraction</key>
	<string>publicLabelInset</string>
	<key>stampMementoFrequency</key>
	<string>invisibleSemanticsName</string>
	<key>textModeRight</key>
	<string>uniformMobileMargin</string>
	<key>timerLayerInteraction</key>
	<string>enabledAwaitTheme</string>
	<key>zoneVariableSize</key>
	<string>secondZoneOpacity</string>
</dict>
</plist>
