<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedAppbarFlags</key>
	<string>priorSliderForce</string>
	<key>asynchronousAspectratioAcceleration</key>
	<string>kernelActivitySpeed</string>
	<key>batchShapeBound</key>
	<string>catalystAroundShape</string>
	<key>cellActionLeft</key>
	<string>variantUntilShape</string>
	<key>errorWorkBorder</key>
	<string>zoneParameterAppearance</string>
	<key>lazyGesturedetectorHue</key>
	<string>robustToolInterval</string>
	<key>musicFacadeDelay</key>
	<string>resilientLayoutMomentum</string>
	<key>nextLogarithmForce</key>
	<string>deferredPageviewScale</string>
</dict>
</plist>
