<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseViewCount</key>
	<string>rectFromVisitor</string>
	<key>dimensionModeSkewx</key>
	<string>fusedStepFlags</string>
	<key>instructionInTask</key>
	<string>mediaqueryThanAction</string>
	<key>interactorOperationVisible</key>
	<string>cycleForBuffer</string>
	<key>popupActivityFlags</key>
	<string>captionDuringMemento</string>
	<key>resourceLevelSkewx</key>
	<string>cellJobDepth</string>
	<key>sizeContextAppearance</key>
	<string>observerJobBehavior</string>
	<key>smartPriorityName</key>
	<string>profileSystemAcceleration</string>
</dict>
</plist>
