<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionFormOffset</key>
	<string>metadataOutsideParam</string>
	<key>inactiveOffsetFlags</key>
	<string>profileDespiteSystem</string>
	<key>instructionModeContrast</key>
	<string>storageFormCenter</string>
	<key>momentumBesideProxy</key>
	<string>documentInInterpreter</string>
	<key>normalBorderFormat</key>
	<string>reductionAdapterDistance</string>
	<key>sizeFormPadding</key>
	<string>tappableDescriptionFormat</string>
	<key>tickerUntilFunction</key>
	<string>popupUntilProcess</string>
	<key>viewLevelFormat</key>
	<string>backwardWidgetPadding</string>
</dict>
</plist>
