<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerBridgeSkewy</key>
	<string>mobileContextOffset</string>
	<key>asyncDespiteVar</key>
	<string>subsequentIndicatorShape</string>
	<key>constTechniqueDelay</key>
	<string>granularStatelessKind</string>
	<key>mainCapsuleBorder</key>
	<string>gridAboutType</string>
</dict>
</plist>
