<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureUntilPlatform</key>
	<string>intermediateInterfacePressure</string>
	<key>arithmeticCycleRight</key>
	<string>symbolTempleStatus</string>
	<key>clipperForEnvironment</key>
	<string>modalAboutVar</string>
	<key>descriptionVisitorResponse</key>
	<string>reusableTaskFeedback</string>
	<key>largeCanvasTail</key>
	<string>characterOrActivity</string>
	<key>queueAtSingleton</key>
	<string>monsterFacadeBehavior</string>
	<key>repositoryVisitorHue</key>
	<string>effectDecoratorVisible</string>
	<key>topicOrSingleton</key>
	<string>sinkFormFlags</string>
	<key>uniformGroupEdge</key>
	<string>heapByProcess</string>
</dict>
</plist>
