<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterObserverSize</key>
	<string>handlerExceptEnvironment</string>
	<key>coordinatorVarOpacity</key>
	<string>decorationChainResponse</string>
	<key>cycleBeyondVariable</key>
	<string>reactiveRouteVisibility</string>
	<key>draggableCharacterVisibility</key>
	<string>intermediateNodePressure</string>
	<key>kernelPerStyle</key>
	<string>transitionDuringTier</string>
	<key>uniformSpecifierPressure</key>
	<string>menuDecoratorSkewx</string>
	<key>usedDimensionForce</key>
	<string>binaryInterpreterPadding</string>
</dict>
</plist>
