<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateAlongAction</key>
	<string>masterLayerCenter</string>
	<key>liteQueryShape</key>
	<string>layoutPlatformCount</string>
	<key>permanentRadiusType</key>
	<string>checkboxBeyondTemple</string>
	<key>sampleFrameworkRight</key>
	<string>gridLikeMode</string>
</dict>
</plist>
