<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseExceptKind</key>
	<string>cycleSinceJob</string>
	<key>durationObserverTag</key>
	<string>invisibleReferenceRotation</string>
	<key>indicatorDuringValue</key>
	<string>constraintDuringBridge</string>
	<key>managerFunctionTop</key>
	<string>delicateOffsetName</string>
	<key>nodeAndWork</key>
	<string>graphMementoDepth</string>
	<key>promiseEnvironmentIndex</key>
	<string>callbackPlatformResponse</string>
	<key>referenceContainContext</key>
	<string>localExtensionBorder</string>
	<key>resultForStructure</key>
	<string>decorationAlongWork</string>
	<key>rowBeyondStructure</key>
	<string>geometricInterpolationBottom</string>
	<key>taskBeyondForm</key>
	<string>semanticModelVisible</string>
</dict>
</plist>
