<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisWithSystem</key>
	<string>reducerStylePressure</string>
	<key>euclideanMediaqueryBrightness</key>
	<string>kernelBesideVar</string>
	<key>persistentPageviewTension</key>
	<string>mediumCubitIndex</string>
	<key>priorSizeEdge</key>
	<string>equipmentThroughFramework</string>
	<key>requestAgainstVisitor</key>
	<string>boxExceptTier</string>
	<key>storyboardFormTheme</key>
	<string>animatedBrushPressure</string>
	<key>tensorSizeDepth</key>
	<string>standaloneMasterSkewx</string>
	<key>textTypeState</key>
	<string>navigatorVisitorFlags</string>
</dict>
</plist>
