<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioLikeType</key>
	<string>anchorAmongAction</string>
	<key>buttonDespiteStyle</key>
	<string>activeScaffoldEdge</string>
	<key>hashAsVar</key>
	<string>statefulFrameworkAppearance</string>
	<key>mediaParameterTint</key>
	<string>dimensionWithoutFlyweight</string>
	<key>roleLikeTier</key>
	<string>intermediateFeatureSaturation</string>
	<key>transformerActionIndex</key>
	<string>semanticsDuringJob</string>
	<key>tweenFromSingleton</key>
	<string>vectorProcessName</string>
</dict>
</plist>
