<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopParticleVisibility</key>
	<string>protectedChannelRight</string>
	<key>labelAwayOperation</key>
	<string>sampleFunctionShape</string>
	<key>monsterAndVariable</key>
	<string>awaitSingletonAcceleration</string>
	<key>navigationPerShape</key>
	<string>scrollableOffsetLeft</string>
	<key>priorityViaStyle</key>
	<string>cosineThroughLayer</string>
	<key>textureNearMemento</key>
	<string>serviceFromValue</string>
	<key>transitionSystemEdge</key>
	<string>taskStageInteraction</string>
</dict>
</plist>
