<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistTierType</key>
	<string>semanticBrushDistance</string>
	<key>difficultNormSkewx</key>
	<string>pivotalProviderVisible</string>
	<key>gradientProcessFlags</key>
	<string>projectionParamLeft</string>
	<key>imageBufferDuration</key>
	<string>cubeMementoHue</string>
	<key>mobileGiftTag</key>
	<string>immutableProviderDistance</string>
	<key>previewProcessKind</key>
	<string>lossJobTag</string>
	<key>responseActivityOffset</key>
	<string>sizeAboutKind</string>
</dict>
</plist>
