<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localizationThanMemento</key>
	<string>nextReductionCount</string>
	<key>navigationDespiteEnvironment</key>
	<string>apertureBesideTemple</string>
	<key>robustCoordinatorName</key>
	<string>cursorActionDepth</string>
	<key>semanticsProxyVisibility</key>
	<string>independentStampTint</string>
	<key>singletonAdapterFrequency</key>
	<string>concretePlaybackTransparency</string>
	<key>unsortedModalShape</key>
	<string>observerFacadeSpacing</string>
</dict>
</plist>
