<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintBesideNumber</key>
	<string>sliderCycleAppearance</string>
	<key>crucialAsyncBorder</key>
	<string>navigationCompositeCoord</string>
	<key>gramOutsideDecorator</key>
	<string>batchVersusFlyweight</string>
	<key>keyEventTheme</key>
	<string>keyConfigurationAcceleration</string>
	<key>mediaFlyweightVisibility</key>
	<string>indicatorIncludeFunction</string>
	<key>signThanVariable</key>
	<string>dropdownbuttonAwayStage</string>
	<key>sortedAlignmentVisible</key>
	<string>providerVariableHead</string>
	<key>sustainableFlexOffset</key>
	<string>instructionByMethod</string>
</dict>
</plist>
