<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitDespiteTask</key>
	<string>standaloneChannelsRight</string>
	<key>containerContainScope</key>
	<string>profileInsideParameter</string>
	<key>decorationMediatorContrast</key>
	<string>viewNearSystem</string>
	<key>eagerOverlayCount</key>
	<string>mediaExceptKind</string>
	<key>gridviewAtMode</key>
	<string>borderStructureTop</string>
	<key>lostTabviewAcceleration</key>
	<string>explicitAppbarMode</string>
	<key>resolverNumberOrigin</key>
	<string>directTitleRight</string>
	<key>segmentLevelDensity</key>
	<string>typicalSpineHue</string>
	<key>stackAsObserver</key>
	<string>resolverEnvironmentDirection</string>
</dict>
</plist>
