<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAtScope</key>
	<string>cupertinoDuringType</string>
	<key>menuUntilFlyweight</key>
	<string>requiredHashSaturation</string>
	<key>optionPlatformHead</key>
	<string>nativeTangentValidation</string>
	<key>priorResolverValidation</key>
	<string>sizedboxAroundStage</string>
	<key>sequentialNormBound</key>
	<string>rowAndCycle</string>
	<key>spotVarOrientation</key>
	<string>histogramAroundProcess</string>
</dict>
</plist>
