<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteBinaryDepth</key>
	<string>smallCubitInteraction</string>
	<key>granularLocalizationTransparency</key>
	<string>persistentOffsetDuration</string>
	<key>newestCardLeft</key>
	<string>activityOrType</string>
	<key>publicVariantFeedback</key>
	<string>otherCatalystAppearance</string>
	<key>roleThroughScope</key>
	<string>vectorEnvironmentStyle</string>
	<key>sliderInterpreterSaturation</key>
	<string>sinePlatformStyle</string>
	<key>stampModeMargin</key>
	<string>scaleAmongMode</string>
</dict>
</plist>
