<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredTextfieldMargin</key>
	<string>radiusContainJob</string>
	<key>dropdownbuttonCompositeMode</key>
	<string>overlayObserverState</string>
	<key>graphicOutsideStructure</key>
	<string>publicSemanticsVisible</string>
	<key>gridVariableInset</key>
	<string>commandInterpreterIndex</string>
	<key>particleExceptFlyweight</key>
	<string>indicatorOrProxy</string>
	<key>pointAmongCommand</key>
	<string>euclideanBaseOrientation</string>
	<key>sharedLayoutDelay</key>
	<string>firstFrameMargin</string>
	<key>titleWorkOrientation</key>
	<string>streamPlatformSkewy</string>
	<key>touchVariableInterval</key>
	<string>transitionUntilBridge</string>
	<key>unaryThanFramework</key>
	<string>usecaseOutsideValue</string>
</dict>
</plist>
