<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicChannelOffset</key>
	<string>gridActionSkewy</string>
	<key>grainViaTier</key>
	<string>subscriptionAndInterpreter</string>
	<key>mobileTickerColor</key>
	<string>pivotalGraphShade</string>
	<key>musicAsPlatform</key>
	<string>threadCycleTail</string>
	<key>taskStateType</key>
	<string>menuPrototypeIndex</string>
</dict>
</plist>
