<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowAmongCommand</key>
	<string>riverpodCompositeSaturation</string>
	<key>decorationBufferSpeed</key>
	<string>storageBufferColor</string>
	<key>factoryUntilVisitor</key>
	<string>multiCubitValidation</string>
	<key>specifierScopeInteraction</key>
	<string>finalChartAppearance</string>
</dict>
</plist>
