<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintActionOffset</key>
	<string>liteWorkflowFrequency</string>
	<key>containerActionCoord</key>
	<string>commandAdapterCenter</string>
	<key>diversifiedCheckboxState</key>
	<string>sliderStrategyScale</string>
	<key>particleValueContrast</key>
	<string>dropdownbuttonFromMode</string>
	<key>rapidFactoryBrightness</key>
	<string>resourceVisitorTag</string>
	<key>sustainableEffectForce</key>
	<string>presenterOutsideProcess</string>
	<key>zoneTypeIndex</key>
	<string>imageAmongAdapter</string>
</dict>
</plist>
