<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardPatternVisible</key>
	<string>significantCapsuleType</string>
	<key>collectionMethodTag</key>
	<string>dimensionBesideState</string>
	<key>compositionalPopupForce</key>
	<string>typicalRouteDelay</string>
	<key>customizedHandlerMomentum</key>
	<string>permanentScrollType</string>
	<key>fusedPlateName</key>
	<string>sustainableChartCenter</string>
	<key>imageAtPrototype</key>
	<string>basicLayoutDelay</string>
	<key>projectJobDelay</key>
	<string>durationStateType</string>
	<key>routeBufferTheme</key>
	<string>radiusParamRate</string>
	<key>semanticsPatternBottom</key>
	<string>skirtProxyMargin</string>
</dict>
</plist>
