<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncLayerBound</key>
	<string>interpolationAdapterDistance</string>
	<key>navigatorAlongState</key>
	<string>iterativeStoryboardLeft</string>
	<key>profileFunctionSkewy</key>
	<string>statefulFrameBound</string>
	<key>protocolMediatorRotation</key>
	<string>scaffoldJobTint</string>
	<key>routeAsStrategy</key>
	<string>denseEqualizationName</string>
	<key>seamlessLabelKind</key>
	<string>batchMementoSaturation</string>
	<key>spineOrTemple</key>
	<string>similarButtonDensity</string>
</dict>
</plist>
