<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAwayPhase</key>
	<string>actionBeyondCycle</string>
	<key>baseDecoratorMode</key>
	<string>apertureFromPattern</string>
	<key>beginnerMetadataTension</key>
	<string>radiusBesideStyle</string>
	<key>cupertinoMediaValidation</key>
	<string>compositionalModulusForce</string>
	<key>diffableGesturedetectorOrigin</key>
	<string>injectionPlatformVelocity</string>
	<key>drawerFlyweightColor</key>
	<string>scrollBufferDepth</string>
	<key>numericalChannelBound</key>
	<string>autoGraphShape</string>
	<key>streamActivityForce</key>
	<string>textureOutsideFacade</string>
</dict>
</plist>
