<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralCharacterColor</key>
	<string>switchOutsideForm</string>
	<key>newestAssetName</key>
	<string>tappableTitleAppearance</string>
	<key>prevImageLeft</key>
	<string>channelModeShape</string>
	<key>publicScaleFormat</key>
	<string>nativeEntityLeft</string>
	<key>sizePrototypeEdge</key>
	<string>optionAlongParameter</string>
	<key>smartAnchorCoord</key>
	<string>missionInterpreterRate</string>
	<key>statelessResponseRate</key>
	<string>checklistMethodShade</string>
</dict>
</plist>
