<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveLayerInteraction</key>
	<string>utilOrParam</string>
	<key>providerWorkVisibility</key>
	<string>offsetTempleBottom</string>
	<key>sceneObserverRotation</key>
	<string>musicKindDelay</string>
	<key>seamlessScaleRate</key>
	<string>ephemeralAnimationType</string>
	<key>threadSinceObserver</key>
	<string>normalEntityShade</string>
	<key>uniqueOverlayDistance</key>
	<string>constraintPlatformPressure</string>
</dict>
</plist>
