<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationEnvironmentSaturation</key>
	<string>tabviewSystemOpacity</string>
	<key>curveAlongState</key>
	<string>textureAwayTemple</string>
	<key>flexInCommand</key>
	<string>listenerAmongKind</string>
	<key>interactiveLayerTint</key>
	<string>exceptionParameterSkewx</string>
	<key>layerFormOrigin</key>
	<string>inkwellContainFlyweight</string>
	<key>sharedOperationSkewy</key>
	<string>greatBinaryLeft</string>
	<key>uniqueTabviewDirection</key>
	<string>layoutShapeFormat</string>
</dict>
</plist>
