<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedProfileTop</key>
	<string>protectedModalInterval</string>
	<key>effectStageCoord</key>
	<string>promiseCycleVisible</string>
	<key>flexibleCupertinoTop</key>
	<string>animationChainSkewx</string>
	<key>frameAboutBridge</key>
	<string>dialogsChainTheme</string>
	<key>imperativeCupertinoMode</key>
	<string>repositoryContainVariable</string>
	<key>resilientCollectionType</key>
	<string>queryCycleRight</string>
	<key>resolverWithoutSystem</key>
	<string>exceptionStageType</string>
	<key>rowInObserver</key>
	<string>declarativeTechniqueShape</string>
	<key>skinDespiteStyle</key>
	<string>opaqueConstraintSize</string>
</dict>
</plist>
