<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerJobBottom</key>
	<string>aspectOrBridge</string>
	<key>exponentExceptFramework</key>
	<string>multiplicationOrStrategy</string>
	<key>nextButtonTag</key>
	<string>baseLayerShape</string>
	<key>robustCapsuleShape</key>
	<string>monsterVariableOrigin</string>
	<key>typicalOptimizerSaturation</key>
	<string>synchronousChannelRate</string>
</dict>
</plist>
