<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryLikeParam</key>
	<string>axisSinceStrategy</string>
	<key>bitrateFlyweightTop</key>
	<string>staticExceptionBound</string>
	<key>configurationCompositeStyle</key>
	<string>otherServicePadding</string>
	<key>grayscaleOrProcess</key>
	<string>protectedAsyncInterval</string>
	<key>permanentExceptionSpacing</key>
	<string>brushFrameworkPressure</string>
	<key>pinchableNavigatorTop</key>
	<string>positionModeOrigin</string>
	<key>protocolAgainstSystem</key>
	<string>resultVisitorTransparency</string>
	<key>stateBufferSize</key>
	<string>missedCanvasRight</string>
	<key>taskFromParam</key>
	<string>hardThemeInset</string>
</dict>
</plist>
