<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTransitionAcceleration</key>
	<string>cardBufferTint</string>
	<key>advancedModelTransparency</key>
	<string>repositoryInVariable</string>
	<key>delicateStreamFlags</key>
	<string>crucialStreamSkewx</string>
	<key>isolateValueSize</key>
	<string>otherFutureFormat</string>
	<key>momentumFlyweightValidation</key>
	<string>lazyRouteFeedback</string>
	<key>reusableStoryboardKind</key>
	<string>providerVariableTheme</string>
	<key>routeAdapterOrigin</key>
	<string>granularCupertinoBehavior</string>
</dict>
</plist>
