<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionCycleFrequency</key>
	<string>swiftOrWork</string>
	<key>bulletParameterBorder</key>
	<string>promiseSystemFeedback</string>
	<key>coordinatorCompositeScale</key>
	<string>modelByOperation</string>
	<key>deferredCharacterVisible</key>
	<string>constraintAlongParameter</string>
	<key>intermediateEntityStyle</key>
	<string>previewPatternTag</string>
	<key>sizeAndTier</key>
	<string>sinkValueTag</string>
</dict>
</plist>
