<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoIncludeTemple</key>
	<string>sinkAtParam</string>
	<key>geometricStreamMomentum</key>
	<string>cycleTaskLeft</string>
	<key>getxShapeLeft</key>
	<string>projectionWithoutMode</string>
	<key>subpixelWithoutMethod</key>
	<string>musicNumberScale</string>
	<key>temporaryEntityDepth</key>
	<string>densePresenterShape</string>
	<key>toolAroundTask</key>
	<string>seamlessBlocOpacity</string>
	<key>webMetadataTransparency</key>
	<string>routeUntilChain</string>
</dict>
</plist>
