<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheVariableOffset</key>
	<string>sizeAtPhase</string>
	<key>captionAmongFlyweight</key>
	<string>permissiveUnaryType</string>
	<key>chapterAroundScope</key>
	<string>singleGemVisibility</string>
	<key>deferredDescriptionRight</key>
	<string>channelJobScale</string>
	<key>fragmentContextSpacing</key>
	<string>completionPhaseFrequency</string>
	<key>missedStorageShade</key>
	<string>grainAgainstPlatform</string>
	<key>permanentDurationAppearance</key>
	<string>arithmeticMementoSpeed</string>
	<key>reducerAboutComposite</key>
	<string>directlyResponsePressure</string>
	<key>referenceAboutActivity</key>
	<string>getxJobIndex</string>
	<key>swiftViaMode</key>
	<string>baseTierSkewy</string>
</dict>
</plist>
