<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureSystemOrientation</key>
	<string>clipperVarStatus</string>
	<key>interfacePerType</key>
	<string>exponentJobRotation</string>
	<key>menuThanStructure</key>
	<string>typicalClipperForce</string>
	<key>observerAwayTask</key>
	<string>specifierContainPhase</string>
	<key>previewKindInterval</key>
	<string>relationalActionOrigin</string>
</dict>
</plist>
