<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedQueueDuration</key>
	<string>groupJobAlignment</string>
	<key>composableAwaitRotation</key>
	<string>subpixelPerWork</string>
	<key>containerSinceTemple</key>
	<string>getxMethodType</string>
	<key>intermediateBehaviorHue</key>
	<string>substantialSemanticsInset</string>
	<key>mediaqueryDecoratorBehavior</key>
	<string>anchorAroundVar</string>
	<key>scaffoldThroughObserver</key>
	<string>pointAroundEnvironment</string>
	<key>sizeForMemento</key>
	<string>gradientChainBrightness</string>
	<key>sortedModelOrigin</key>
	<string>euclideanViewOrientation</string>
</dict>
</plist>
