<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediaAdapterStatus</key>
	<string>injectionForStrategy</string>
	<key>respectiveBaseCount</key>
	<string>playbackAroundVariable</string>
	<key>subtleObserverRate</key>
	<string>mobileTaskSpeed</string>
	<key>usageForSingleton</key>
	<string>expandedActivityShade</string>
	<key>usedMetadataFormat</key>
	<string>optimizerSincePlatform</string>
</dict>
</plist>
