<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveDimensionVisible</key>
	<string>graphicScopeResponse</string>
	<key>builderDecoratorScale</key>
	<string>storeAboutContext</string>
	<key>futureNumberStatus</key>
	<string>observerInsideType</string>
	<key>multiDecorationMode</key>
	<string>tickerTaskMode</string>
	<key>segueNearVisitor</key>
	<string>decorationProcessTail</string>
	<key>specifierLevelKind</key>
	<string>navigatorShapeContrast</string>
	<key>touchFromTier</key>
	<string>compositionalCustompaintAlignment</string>
</dict>
</plist>
