<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocBridgeAppearance</key>
	<string>missedRemainderStyle</string>
	<key>checklistPatternDensity</key>
	<string>taskSinceTier</string>
	<key>directlySampleCoord</key>
	<string>managerOperationDuration</string>
	<key>equalizationByOperation</key>
	<string>aspectratioInsideFlyweight</string>
	<key>frameModeSkewx</key>
	<string>overlayFromInterpreter</string>
	<key>hashFromFramework</key>
	<string>textValueFrequency</string>
	<key>monsterInOperation</key>
	<string>lossFromKind</string>
	<key>sortedMediaqueryAlignment</key>
	<string>gramOrPattern</string>
	<key>usageEnvironmentInteraction</key>
	<string>unactivatedGridFeedback</string>
</dict>
</plist>
