<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselinePrototypeShade</key>
	<string>transformerThanPhase</string>
	<key>capacitiesAdapterRotation</key>
	<string>uniqueHandlerDuration</string>
	<key>directlyPainterBrightness</key>
	<string>advancedParticleStatus</string>
	<key>hardQueueCenter</key>
	<string>positionCompositeDepth</string>
	<key>lazyGrainContrast</key>
	<string>significantAlphaColor</string>
	<key>paddingDuringStyle</key>
	<string>deferredMetadataShape</string>
	<key>scenePrototypeOrientation</key>
	<string>routerParameterBrightness</string>
	<key>scrollableEntropySpeed</key>
	<string>skirtMediatorOrigin</string>
	<key>symmetricActivityInterval</key>
	<string>convolutionKindSaturation</string>
</dict>
</plist>
