<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionProxySaturation</key>
	<string>imperativeDialogsTheme</string>
	<key>arithmeticCapacitiesBound</key>
	<string>builderNearContext</string>
	<key>disabledCurveDelay</key>
	<string>curveChainDistance</string>
	<key>iconByTier</key>
	<string>cartesianAssetColor</string>
	<key>prevHistogramPadding</key>
	<string>momentumTempleMode</string>
	<key>sizedboxAmongSystem</key>
	<string>invisibleGetxDuration</string>
	<key>storageFlyweightDuration</key>
	<string>imageAlongVariable</string>
</dict>
</plist>
