<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerTierPressure</key>
	<string>alphaInDecorator</string>
	<key>equalizationMediatorResponse</key>
	<string>rapidTextRight</string>
	<key>exceptionThroughStyle</key>
	<string>buttonInterpreterMomentum</string>
	<key>overlayAndBuffer</key>
	<string>loopOperationKind</string>
	<key>reusableRowPressure</key>
	<string>subscriptionBridgeBehavior</string>
	<key>skinPerLevel</key>
	<string>displayableCardDistance</string>
</dict>
</plist>
