<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerWithoutLayer</key>
	<string>iconChainDelay</string>
	<key>exceptionByContext</key>
	<string>checklistParameterBound</string>
	<key>plateStrategyPosition</key>
	<string>rectFrameworkRotation</string>
	<key>referenceTierColor</key>
	<string>sustainableInjectionHead</string>
	<key>resolverActivityRate</key>
	<string>vectorAsAction</string>
</dict>
</plist>
