<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackPhaseTint</key>
	<string>vectorSingletonMomentum</string>
	<key>cellShapeName</key>
	<string>layoutBesideSystem</string>
	<key>exceptionCompositeCenter</key>
	<string>oldTextureBorder</string>
	<key>riverpodCompositePosition</key>
	<string>temporaryAnimationScale</string>
</dict>
</plist>
