<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetLikeAction</key>
	<string>previewExceptPattern</string>
	<key>containerInterpreterValidation</key>
	<string>curveDuringProcess</string>
	<key>entropyNumberPressure</key>
	<string>mobxEnvironmentRate</string>
	<key>pivotalSkinDensity</key>
	<string>storeVersusSystem</string>
	<key>resilientCupertinoDuration</key>
	<string>uniqueDecorationCenter</string>
	<key>reusableResourceVisibility</key>
	<string>ignoredRiverpodTag</string>
	<key>sineNearState</key>
	<string>cacheUntilFramework</string>
	<key>textureIncludeLevel</key>
	<string>instructionTaskCount</string>
</dict>
</plist>
