<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryLayerSkewx</key>
	<string>decorationFacadePressure</string>
	<key>alignmentDespiteStrategy</key>
	<string>containerAdapterForce</string>
	<key>boxshadowThroughFunction</key>
	<string>crucialSinkDepth</string>
	<key>chartVersusChain</key>
	<string>characterSincePrototype</string>
	<key>checklistActionSkewy</key>
	<string>presenterChainBound</string>
	<key>gramContainMethod</key>
	<string>priorWidgetTension</string>
	<key>oldCurveDepth</key>
	<string>labelEnvironmentTint</string>
	<key>uniqueButtonFlags</key>
	<string>subscriptionAroundShape</string>
</dict>
</plist>
