<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardOfTier</key>
	<string>advancedRepositoryBorder</string>
	<key>chartBeyondStrategy</key>
	<string>eventFromStage</string>
	<key>navigationInPattern</key>
	<string>tweenTaskEdge</string>
	<key>reductionProcessForce</key>
	<string>rowFacadeFlags</string>
	<key>sortedRadiusOrigin</key>
	<string>capsuleAndFunction</string>
	<key>standaloneIsolateAcceleration</key>
	<string>resultLikeNumber</string>
	<key>subpixelEnvironmentTint</key>
	<string>zoneThanSystem</string>
	<key>textureAlongSystem</key>
	<string>binaryTaskDensity</string>
	<key>tickerFlyweightOrientation</key>
	<string>tensorVariantTop</string>
</dict>
</plist>
