<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedRichtextHue</key>
	<string>routerAroundPhase</string>
	<key>bulletAboutContext</key>
	<string>featureOperationCount</string>
	<key>cubitAtCycle</key>
	<string>stateThroughBuffer</string>
	<key>disabledDecorationBehavior</key>
	<string>protocolMementoDuration</string>
	<key>gateExceptStage</key>
	<string>profileEnvironmentAlignment</string>
	<key>intuitiveHandlerTension</key>
	<string>richtextSystemHue</string>
</dict>
</plist>
