<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labelShapeBorder</key>
	<string>animatedcontainerForScope</string>
	<key>providerFrameworkSaturation</key>
	<string>allocatorWithoutInterpreter</string>
	<key>riverpodBufferColor</key>
	<string>projectContainStyle</string>
	<key>rowByStage</key>
	<string>retainedDelegateStatus</string>
	<key>timerThroughMethod</key>
	<string>configurationBesideInterpreter</string>
</dict>
</plist>
