<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandDespiteStage</key>
	<string>substantialGateStatus</string>
	<key>constraintForVar</key>
	<string>methodInBuffer</string>
	<key>listenerMediatorState</key>
	<string>resourceAroundKind</string>
	<key>musicInsideWork</key>
	<string>clipperScopeScale</string>
	<key>precisionUntilSystem</key>
	<string>anchorThanTask</string>
</dict>
</plist>
