<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousAllocatorOffset</key>
	<string>queryAboutContext</string>
	<key>callbackAdapterCoord</key>
	<string>subpixelVariableFormat</string>
	<key>consumerWithoutComposite</key>
	<string>mediocreCubitOrigin</string>
	<key>intermediatePositionedMomentum</key>
	<string>canvasInterpreterBorder</string>
	<key>oldProgressbarBound</key>
	<string>animatedcontainerContextRotation</string>
	<key>previewVersusNumber</key>
	<string>metadataStructureLocation</string>
	<key>routeFromParameter</key>
	<string>aspectUntilShape</string>
</dict>
</plist>
