<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseNearBridge</key>
	<string>topicInsideProcess</string>
	<key>euclideanMultiplicationHead</key>
	<string>pivotalTaskBottom</string>
	<key>isolateProcessPosition</key>
	<string>associatedAppbarDelay</string>
	<key>movementOfFacade</key>
	<string>queryOrComposite</string>
	<key>normFacadeDelay</key>
	<string>interactorOfFunction</string>
	<key>primaryBorderLeft</key>
	<string>sinkUntilComposite</string>
	<key>subpixelCycleResponse</key>
	<string>curveWithoutSystem</string>
</dict>
</plist>
