<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedCubitSkewx</key>
	<string>spriteTaskOrigin</string>
	<key>brushWithoutDecorator</key>
	<string>consultativeResourceMomentum</string>
	<key>commandShapeName</key>
	<string>pivotalPlateName</string>
	<key>disparateFeatureHead</key>
	<string>builderAtJob</string>
	<key>pivotalScaffoldKind</key>
	<string>challengeThanObserver</string>
	<key>skirtThroughFlyweight</key>
	<string>columnCycleValidation</string>
</dict>
</plist>
