<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>permanentTimerIndex</key>
	<string>modelSinceProcess</string>
	<key>projectionOrFacade</key>
	<string>concurrentStampTint</string>
	<key>promiseMediatorInteraction</key>
	<string>scaleBesideOperation</string>
	<key>sampleOutsideVisitor</key>
	<string>deferredCertificateResponse</string>
	<key>subtleIntensityTag</key>
	<string>labelAndBridge</string>
</dict>
</plist>
