<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocScopeTop</key>
	<string>streamVersusActivity</string>
	<key>checkboxPhaseDirection</key>
	<string>rapidFrameKind</string>
	<key>columnAroundFunction</key>
	<string>textureStateShade</string>
	<key>delegatePrototypeState</key>
	<string>modulusOperationTop</string>
	<key>effectPlatformBottom</key>
	<string>loopActionOrigin</string>
	<key>gridVarHue</key>
	<string>diffableHeroSkewx</string>
	<key>similarGridviewBound</key>
	<string>effectModeSaturation</string>
	<key>specifierAtSingleton</key>
	<string>layerContainPrototype</string>
	<key>zoneDuringJob</key>
	<string>effectIncludeMemento</string>
</dict>
</plist>
