<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineActionRight</key>
	<string>variantOfProxy</string>
	<key>groupScopeType</key>
	<string>routerInValue</string>
	<key>materialActionBorder</key>
	<string>particleActivityName</string>
	<key>memberContextTint</key>
	<string>unsortedCharacterAcceleration</string>
	<key>mobileMementoTint</key>
	<string>resilientExpandedEdge</string>
	<key>tappableBoxDirection</key>
	<string>decorationActivityValidation</string>
	<key>taskPhaseLocation</key>
	<string>publicIntensityTag</string>
	<key>uniformScaleCoord</key>
	<string>constraintSingletonAcceleration</string>
</dict>
</plist>
