<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheShapeDensity</key>
	<string>firstGesturedetectorPressure</string>
	<key>flexiblePriorityDensity</key>
	<string>difficultClipperState</string>
	<key>priorStorageRotation</key>
	<string>temporaryMomentumVelocity</string>
	<key>radioAgainstPhase</key>
	<string>descriptorMethodDirection</string>
</dict>
</plist>
