<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitCycleState</key>
	<string>labelBesideAction</string>
	<key>bufferNearTask</key>
	<string>notifierInsideVisitor</string>
	<key>columnDespiteChain</key>
	<string>pageviewPatternBehavior</string>
	<key>functionalGrainDepth</key>
	<string>usageAndStage</string>
	<key>mediumGraphOffset</key>
	<string>stateAtNumber</string>
	<key>subtleCompleterTag</key>
	<string>baseFacadeFrequency</string>
	<key>tweenScopeFeedback</key>
	<string>symmetricPetTop</string>
</dict>
</plist>
