<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeStyleInset</key>
	<string>permanentAssetCount</string>
	<key>granularScaleDelay</key>
	<string>serviceKindSpacing</string>
	<key>lastChallengeOffset</key>
	<string>loopObserverStyle</string>
	<key>loopAwayWork</key>
	<string>missionDuringMediator</string>
	<key>modelInPhase</key>
	<string>discardedExceptionType</string>
	<key>petScopeScale</key>
	<string>directAxisLocation</string>
</dict>
</plist>
