<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaTypeHead</key>
	<string>factoryWithFramework</string>
	<key>boxshadowFlyweightMode</key>
	<string>adaptiveLayoutFrequency</string>
	<key>explicitFeatureEdge</key>
	<string>cardPerVisitor</string>
	<key>flexibleViewDelay</key>
	<string>positionedTypeDistance</string>
	<key>histogramDespiteKind</key>
	<string>aspectratioFlyweightStatus</string>
	<key>spineAlongActivity</key>
	<string>declarativeErrorOrientation</string>
</dict>
</plist>
