<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>materialFrameworkCount</key>
	<string>builderAboutFramework</string>
	<key>slashAlongParameter</key>
	<string>interactiveInterpolationTop</string>
	<key>textDuringMode</key>
	<string>textfieldWorkShade</string>
</dict>
</plist>
