<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryActivityIndex</key>
	<string>priorProfileTag</string>
	<key>firstResponseHue</key>
	<string>denseTextureRight</string>
	<key>smallWidgetStyle</key>
	<string>binaryParamDistance</string>
	<key>tangentTypeBehavior</key>
	<string>missedBatchBorder</string>
	<key>timerPerSystem</key>
	<string>groupInsideScope</string>
</dict>
</plist>
