<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasAboutLevel</key>
	<string>smallPreviewStyle</string>
	<key>consumerTempleOpacity</key>
	<string>lastSliderState</string>
	<key>mapAsBuffer</key>
	<string>cubeAlongState</string>
	<key>sceneSinceFunction</key>
	<string>heapCommandCoord</string>
	<key>signAwayState</key>
	<string>spineDespiteDecorator</string>
	<key>vectorOrFlyweight</key>
	<string>loopWorkTag</string>
</dict>
</plist>
