<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAmongLevel</key>
	<string>tappableAllocatorDirection</string>
	<key>imperativeLayerFeedback</key>
	<string>arithmeticKernelColor</string>
	<key>positionOrSystem</key>
	<string>mediumMasterFormat</string>
	<key>progressbarOrEnvironment</key>
	<string>characterAroundType</string>
	<key>symmetricChannelsAppearance</key>
	<string>histogramThroughSystem</string>
	<key>synchronousChallengeDelay</key>
	<string>similarScaffoldTop</string>
	<key>timerDecoratorInterval</key>
	<string>difficultPreviewPosition</string>
</dict>
</plist>
