<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedConsumerState</key>
	<string>interactorNearShape</string>
	<key>drawerDuringInterpreter</key>
	<string>temporaryPlateOpacity</string>
	<key>lastChannelsMargin</key>
	<string>skinOfJob</string>
	<key>prevLayerRotation</key>
	<string>instructionVisitorState</string>
	<key>resourceObserverBorder</key>
	<string>tableTempleDirection</string>
	<key>specifyChecklistSpeed</key>
	<string>alignmentAlongCycle</string>
	<key>spriteOfVar</key>
	<string>spineVersusMode</string>
</dict>
</plist>
