<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryKindRate</key>
	<string>storeExceptMode</string>
	<key>allocatorParamAppearance</key>
	<string>aspectStructurePadding</string>
	<key>brushBeyondProxy</key>
	<string>channelWorkBorder</string>
	<key>heapProxyResponse</key>
	<string>challengeAsCycle</string>
	<key>nibDespiteChain</key>
	<string>missedCardStyle</string>
	<key>painterPrototypeDelay</key>
	<string>tweenOfFunction</string>
	<key>shaderOutsideDecorator</key>
	<string>previewInStage</string>
	<key>statelessImagePressure</key>
	<string>secondConfigurationLeft</string>
	<key>tickerDespiteVar</key>
	<string>reactiveSliderCenter</string>
	<key>visibleMaterialBound</key>
	<string>exponentProcessLeft</string>
</dict>
</plist>
