<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentOutsideForm</key>
	<string>completionSystemOrientation</string>
	<key>effectFunctionAppearance</key>
	<string>associatedLocalizationContrast</string>
	<key>immediateFuturePadding</key>
	<string>toolStageFlags</string>
	<key>rectLikeJob</key>
	<string>backwardInstructionStyle</string>
	<key>semanticAppbarSkewy</key>
	<string>bulletVersusVar</string>
</dict>
</plist>
