<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticStageOpacity</key>
	<string>interpolationPhaseTail</string>
	<key>backwardPresenterIndex</key>
	<string>taskIncludeJob</string>
	<key>greatPositionedColor</key>
	<string>firstUtilAppearance</string>
	<key>hardSpineFlags</key>
	<string>statelessPhaseRate</string>
	<key>priorCubeEdge</key>
	<string>appbarCompositeFrequency</string>
</dict>
</plist>
