<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitInsideComposite</key>
	<string>vectorTaskPosition</string>
	<key>declarativeMatrixType</key>
	<string>graphSinceParam</string>
	<key>gramNearBuffer</key>
	<string>streamFrameworkStyle</string>
	<key>nativeCaptionTension</key>
	<string>secondPositionedColor</string>
	<key>priorBoxDepth</key>
	<string>allocatorSinceMediator</string>
	<key>progressbarParamKind</key>
	<string>memberAsEnvironment</string>
	<key>tangentTierBehavior</key>
	<string>delegateViaCommand</string>
	<key>themeNearForm</key>
	<string>exceptionMethodKind</string>
</dict>
</plist>
