<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTextPressure</key>
	<string>geometricReferenceKind</string>
	<key>directSceneDepth</key>
	<string>textureLikeJob</string>
	<key>ephemeralCapsuleFlags</key>
	<string>numericalRequestIndex</string>
	<key>modelTierColor</key>
	<string>grainByVar</string>
	<key>musicCycleAppearance</key>
	<string>stampForPattern</string>
	<key>pivotalSegueScale</key>
	<string>localEquipmentBorder</string>
	<key>smallAlignmentVisibility</key>
	<string>techniqueWithComposite</string>
	<key>tabviewWorkDistance</key>
	<string>decorationIncludeContext</string>
</dict>
</plist>
