<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridUntilInterpreter</key>
	<string>labelSingletonTheme</string>
	<key>particleCommandTheme</key>
	<string>labelViaWork</string>
	<key>spineMediatorDistance</key>
	<string>allocatorWithoutPhase</string>
	<key>storeAmongMemento</key>
	<string>criticalTableLocation</string>
</dict>
</plist>
