<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newestAccessoryTag</key>
	<string>dependencyTaskMode</string>
	<key>previewDuringPhase</key>
	<string>channelsSingletonResponse</string>
	<key>signAboutFramework</key>
	<string>painterDuringParam</string>
	<key>specifierDespiteKind</key>
	<string>routeEnvironmentColor</string>
</dict>
</plist>
