<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackAndComposite</key>
	<string>prevAlertSpeed</string>
	<key>chartForLevel</key>
	<string>collectionDespiteJob</string>
	<key>firstFrameVisibility</key>
	<string>equalizationStyleSaturation</string>
	<key>fragmentPrototypeVisibility</key>
	<string>euclideanInstructionSpeed</string>
	<key>reducerFromComposite</key>
	<string>monsterWorkDuration</string>
</dict>
</plist>
