<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaPhaseSpeed</key>
	<string>reductionShapeState</string>
	<key>associatedLoopOrigin</key>
	<string>responsiveImageCoord</string>
	<key>buttonBesideProcess</key>
	<string>completionChainInset</string>
	<key>chartFromStrategy</key>
	<string>spineInsideWork</string>
	<key>gradientAroundChain</key>
	<string>scaleSystemMomentum</string>
	<key>listenerEnvironmentSpacing</key>
	<string>lazyLayoutBrightness</string>
	<key>segueExceptParam</key>
	<string>allocatorAmongMethod</string>
	<key>symmetricPointMargin</key>
	<string>brushFormTop</string>
</dict>
</plist>
