<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystChainValidation</key>
	<string>significantTimerRate</string>
	<key>compositionalPainterMargin</key>
	<string>navigatorFlyweightDistance</string>
	<key>constraintActivityOrientation</key>
	<string>subtleCommandLocation</string>
	<key>controllerContainSingleton</key>
	<string>routerPatternLocation</string>
	<key>draggableChapterFlags</key>
	<string>tickerStageIndex</string>
	<key>equalizationForStage</key>
	<string>originalSinkForce</string>
	<key>labelStructureType</key>
	<string>oldMissionSkewx</string>
	<key>reusableChallengeVisibility</key>
	<string>globalListenerOrigin</string>
	<key>secondRemainderRotation</key>
	<string>fixedCupertinoRate</string>
	<key>specifierPerDecorator</key>
	<string>rectContainStyle</string>
</dict>
</plist>
