<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateLikeParameter</key>
	<string>fixedSignatureOrigin</string>
	<key>coordinatorWithFramework</key>
	<string>inheritedSegueShade</string>
	<key>featureOfProxy</key>
	<string>viewFunctionBound</string>
	<key>imperativeMonsterEdge</key>
	<string>crucialBehaviorSize</string>
	<key>labelFacadeTheme</key>
	<string>layoutChainKind</string>
	<key>layerLevelState</key>
	<string>desktopLogSpacing</string>
	<key>observerTypeColor</key>
	<string>cubeActionAcceleration</string>
	<key>scenePhaseVisibility</key>
	<string>effectSingletonRotation</string>
	<key>spotPrototypeAppearance</key>
	<string>dimensionInVariable</string>
	<key>transformerPerSingleton</key>
	<string>equipmentNearCycle</string>
</dict>
</plist>
