<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertWorkSaturation</key>
	<string>ternaryAtTask</string>
	<key>cartesianDescriptorMargin</key>
	<string>mediumCommandInset</string>
	<key>functionalFragmentVelocity</key>
	<string>publicColumnTheme</string>
	<key>nibUntilComposite</key>
	<string>typicalIsolatePadding</string>
	<key>usecaseParameterHead</key>
	<string>curveIncludeVar</string>
</dict>
</plist>
