<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityPerVisitor</key>
	<string>transitionAwayParameter</string>
	<key>listenerAgainstVar</key>
	<string>imageAsAction</string>
	<key>oldMomentumBorder</key>
	<string>compositionalProgressbarVisibility</string>
	<key>visibleProtocolDensity</key>
	<string>publicGesturedetectorShape</string>
</dict>
</plist>
