<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedTopicVisibility</key>
	<string>flexOfEnvironment</string>
	<key>alertExceptLevel</key>
	<string>keyMediaRotation</string>
	<key>anchorAboutType</key>
	<string>subsequentNodeTransparency</string>
	<key>checklistAwayCycle</key>
	<string>grainContextStyle</string>
	<key>easySignIndex</key>
	<string>collectionAtMethod</string>
	<key>protectedEffectMode</key>
	<string>painterLikeEnvironment</string>
	<key>retainedAppbarAppearance</key>
	<string>alignmentStrategySpacing</string>
	<key>staticReductionDuration</key>
	<string>curveSingletonOrigin</string>
	<key>subtleBehaviorHue</key>
	<string>smallTextfieldIndex</string>
	<key>variantCompositeSpeed</key>
	<string>nativeMenuTheme</string>
</dict>
</plist>
