<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>largeProjectionHue</key>
	<string>custompaintKindShade</string>
	<key>similarAxisSpeed</key>
	<string>pinchableRouterOpacity</string>
	<key>smartSliderAppearance</key>
	<string>viewVersusNumber</string>
</dict>
</plist>
