<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPatternForce</key>
	<string>apertureCompositeFormat</string>
	<key>bitrateWorkCenter</key>
	<string>callbackForFlyweight</string>
	<key>cardAtProxy</key>
	<string>dropdownbuttonOrWork</string>
	<key>checkboxPerBridge</key>
	<string>loopProcessDirection</string>
	<key>clipperAroundStrategy</key>
	<string>queueModeMargin</string>
	<key>deferredNavigatorTag</key>
	<string>streamPlatformSkewx</string>
	<key>discardedCompleterOpacity</key>
	<string>resizableEntropyHead</string>
	<key>instructionBeyondObserver</key>
	<string>utilPerChain</string>
	<key>positionParameterOrigin</key>
	<string>scaffoldOutsideStrategy</string>
	<key>textSingletonFlags</key>
	<string>statelessEnvironmentFrequency</string>
</dict>
</plist>
