<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletObserverMomentum</key>
	<string>asynchronousWorkflowRate</string>
	<key>effectKindAppearance</key>
	<string>statelessAroundBridge</string>
	<key>mediumStoryboardTransparency</key>
	<string>inkwellVisitorOrientation</string>
	<key>observerBeyondActivity</key>
	<string>cellInterpreterTop</string>
	<key>storeNumberTension</key>
	<string>nibProxyVelocity</string>
</dict>
</plist>
