<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedSceneAcceleration</key>
	<string>radiusFunctionLocation</string>
	<key>builderInsideType</key>
	<string>customLayoutBehavior</string>
	<key>capacitiesVariableAppearance</key>
	<string>descriptorExceptProxy</string>
	<key>challengeNearMemento</key>
	<string>independentAlignmentMomentum</string>
	<key>contractionFormValidation</key>
	<string>localizationNearFacade</string>
	<key>finalQueueLeft</key>
	<string>providerDuringChain</string>
	<key>opaqueSubscriptionResponse</key>
	<string>richtextVisitorState</string>
	<key>prismaticOverlayOpacity</key>
	<string>themeInterpreterResponse</string>
	<key>specifierSingletonAlignment</key>
	<string>completerVariablePressure</string>
	<key>themeBufferTail</key>
	<string>textAndContext</string>
</dict>
</plist>
