<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridPhaseSize</key>
	<string>elasticPreviewRate</string>
	<key>managerLayerPadding</key>
	<string>interactorIncludePhase</string>
	<key>requestViaBuffer</key>
	<string>singleViewMomentum</string>
	<key>rowScopeType</key>
	<string>imageChainName</string>
	<key>widgetOutsideCommand</key>
	<string>mediocrePopupHue</string>
</dict>
</plist>
