<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCursorSize</key>
	<string>hashPhaseInterval</string>
	<key>constModalMomentum</key>
	<string>commandStructureStatus</string>
	<key>directMarginPadding</key>
	<string>sortedStorageCount</string>
	<key>eagerChannelMargin</key>
	<string>sliderExceptStructure</string>
	<key>iconViaMediator</key>
	<string>delegateVarFeedback</string>
	<key>mediumQueryPadding</key>
	<string>comprehensiveStoreHue</string>
	<key>optimizerModeTint</key>
	<string>permanentIconCenter</string>
	<key>streamWorkRate</key>
	<string>lazyDecorationColor</string>
	<key>symmetricFlexStatus</key>
	<string>contractionEnvironmentOpacity</string>
	<key>themeForFlyweight</key>
	<string>capacitiesFormSkewx</string>
</dict>
</plist>
