<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsBridgeSpeed</key>
	<string>adaptiveControllerDuration</string>
	<key>futureFrameworkBorder</key>
	<string>crudeAlignmentBorder</string>
	<key>hashForEnvironment</key>
	<string>aspectProcessContrast</string>
	<key>localDelegateForce</key>
	<string>actionPhaseBound</string>
</dict>
</plist>
