<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionUntilValue</key>
	<string>layoutDuringValue</string>
	<key>curveUntilValue</key>
	<string>promiseBesidePlatform</string>
	<key>drawerAsTier</key>
	<string>webParticleInterval</string>
	<key>errorContextDistance</key>
	<string>memberSystemSkewx</string>
	<key>iterativeVariantScale</key>
	<string>inheritedGridviewMargin</string>
	<key>marginAwayFacade</key>
	<string>publicHeapCoord</string>
	<key>nodeTypeSkewy</key>
	<string>rectInsideComposite</string>
</dict>
</plist>
