<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoChartSpeed</key>
	<string>nodeByVisitor</string>
	<key>cupertinoEntropyCenter</key>
	<string>semanticEventSpacing</string>
	<key>enabledRouterTension</key>
	<string>painterInterpreterFormat</string>
	<key>ephemeralRouteSkewy</key>
	<string>cupertinoProviderFrequency</string>
	<key>greatDurationInset</key>
	<string>textAlongFramework</string>
	<key>modelIncludeJob</key>
	<string>resolverFormSkewx</string>
	<key>resultAdapterOffset</key>
	<string>richtextModeContrast</string>
	<key>skirtValueType</key>
	<string>priorAxisTransparency</string>
</dict>
</plist>
