<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexFacadeShade</key>
	<string>widgetStrategyResponse</string>
	<key>globalPlaybackShape</key>
	<string>metadataTierColor</string>
	<key>injectionBeyondScope</key>
	<string>allocatorPerFacade</string>
	<key>secondNavigatorKind</key>
	<string>previewPrototypePressure</string>
	<key>symbolVariableLeft</key>
	<string>chartNearProxy</string>
	<key>tabbarNumberBrightness</key>
	<string>rolePrototypeStyle</string>
</dict>
</plist>
