<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSizeOffset</key>
	<string>tabviewAmongInterpreter</string>
	<key>exceptionSystemBound</key>
	<string>nativeOffsetName</string>
	<key>exponentAwayParameter</key>
	<string>enabledStackTension</string>
	<key>kernelWithoutFunction</key>
	<string>advancedModalShade</string>
	<key>modalMementoAppearance</key>
	<string>sortedSinkName</string>
	<key>rectValueMomentum</key>
	<string>precisionFrameworkInteraction</string>
	<key>remainderIncludeStyle</key>
	<string>textureWithFlyweight</string>
	<key>sceneAsTemple</key>
	<string>taskDecoratorEdge</string>
	<key>themeParameterShade</key>
	<string>seamlessScreenShape</string>
	<key>widgetCompositeVisibility</key>
	<string>taskEnvironmentVelocity</string>
</dict>
</plist>
