<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleExpandedName</key>
	<string>nativeChannelHue</string>
	<key>alertStructureInterval</key>
	<string>actionAtVisitor</string>
	<key>dropdownbuttonWorkTransparency</key>
	<string>gestureBeyondMemento</string>
	<key>finalDelegateSize</key>
	<string>grainMediatorMomentum</string>
	<key>sharedTitlePosition</key>
	<string>textForStage</string>
</dict>
</plist>
