<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerAgainstMethod</key>
	<string>temporaryIsolateType</string>
	<key>buttonDespiteFramework</key>
	<string>comprehensiveTransitionCount</string>
	<key>callbackLevelAcceleration</key>
	<string>previewOfChain</string>
	<key>curveDespiteDecorator</key>
	<string>enabledDialogsInterval</string>
	<key>expandedViaVisitor</key>
	<string>activeBehaviorTail</string>
	<key>gesturedetectorVisitorRight</key>
	<string>specifierIncludeMemento</string>
	<key>invisibleBinaryStyle</key>
	<string>interactorAgainstFramework</string>
	<key>sceneNearVariable</key>
	<string>listviewFormSpeed</string>
	<key>standaloneBoxScale</key>
	<string>transitionModeShade</string>
	<key>swiftCompositeEdge</key>
	<string>sinkInShape</string>
</dict>
</plist>
