<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureBySystem</key>
	<string>contractionDuringTier</string>
	<key>flexOperationDensity</key>
	<string>streamLikeKind</string>
	<key>frameStyleStyle</key>
	<string>cubeJobAlignment</string>
	<key>imperativeBaselineBorder</key>
	<string>labelActionInterval</string>
	<key>injectionAlongCommand</key>
	<string>effectStrategyLocation</string>
	<key>pinchableTangentContrast</key>
	<string>petCycleCoord</string>
	<key>progressbarTempleVelocity</key>
	<string>memberExceptStage</string>
	<key>projectInsideFunction</key>
	<string>techniqueAsKind</string>
</dict>
</plist>
