<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartMementoType</key>
	<string>responseThroughCommand</string>
	<key>cosineProxyRotation</key>
	<string>pageviewJobRight</string>
	<key>decorationFromVar</key>
	<string>symmetricLabelPosition</string>
	<key>diffablePreviewBrightness</key>
	<string>responseDuringState</string>
	<key>serviceBeyondTier</key>
	<string>diversifiedChapterColor</string>
	<key>substantialDependencyType</key>
	<string>fixedRolePressure</string>
</dict>
</plist>
