<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentVersusPrototype</key>
	<string>chapterFormDelay</string>
	<key>allocatorEnvironmentShade</key>
	<string>heapAndProxy</string>
	<key>intensityFormCenter</key>
	<string>singleTabviewCoord</string>
	<key>mediumLoopShape</key>
	<string>draggableBoxSkewx</string>
	<key>metadataDecoratorShade</key>
	<string>paddingViaParameter</string>
	<key>persistentRowIndex</key>
	<string>singletonLevelSpacing</string>
	<key>progressbarLayerVelocity</key>
	<string>usecaseInsideState</string>
</dict>
</plist>
