<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopSegueOffset</key>
	<string>sizeViaCycle</string>
	<key>directlyDrawerStatus</key>
	<string>methodAgainstTask</string>
	<key>imperativeWidgetAlignment</key>
	<string>queueViaCommand</string>
	<key>isolateSinceSingleton</key>
	<string>cycleExceptScope</string>
	<key>mediocreAccessoryStatus</key>
	<string>servicePrototypeLeft</string>
	<key>projectLevelAppearance</key>
	<string>variantOperationCenter</string>
	<key>protectedOptimizerFlags</key>
	<string>challengeSystemDistance</string>
	<key>rapidCoordinatorDuration</key>
	<string>sustainableHashSpacing</string>
	<key>textfieldWithPlatform</key>
	<string>directlyStateShade</string>
	<key>utilWorkVisibility</key>
	<string>scrollableBufferFlags</string>
</dict>
</plist>
