<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedBlocMargin</key>
	<string>gesturedetectorStructureInteraction</string>
	<key>dynamicProfilePressure</key>
	<string>fragmentByJob</string>
	<key>fixedBufferPressure</key>
	<string>labelStateLeft</string>
	<key>futureCommandShape</key>
	<string>techniqueIncludeAction</string>
	<key>inheritedInterfaceCenter</key>
	<string>gesturedetectorFrameworkTheme</string>
	<key>scaffoldLevelIndex</key>
	<string>dedicatedSymbolShape</string>
</dict>
</plist>
