<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityBesideFunction</key>
	<string>baselineFrameworkOrigin</string>
	<key>largeSceneSkewx</key>
	<string>chartInAction</string>
	<key>lazyWidgetDelay</key>
	<string>entityAwayType</string>
	<key>rowAlongChain</key>
	<string>swiftTempleTension</string>
</dict>
</plist>
