<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerDecoratorFeedback</key>
	<string>errorPrototypeInterval</string>
	<key>entityTierSize</key>
	<string>modalFrameworkDuration</string>
	<key>listviewWithComposite</key>
	<string>priorStreamCenter</string>
	<key>mapSingletonFlags</key>
	<string>buttonOfOperation</string>
	<key>mediaCycleAlignment</key>
	<string>logarithmThanBridge</string>
	<key>transitionProxyLocation</key>
	<string>hierarchicalMarginHead</string>
	<key>utilSystemInteraction</key>
	<string>persistentOptionValidation</string>
</dict>
</plist>
