<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartCycleOrientation</key>
	<string>sizeObserverName</string>
	<key>commonFeatureAlignment</key>
	<string>curveBufferForce</string>
	<key>currentResponseTint</key>
	<string>groupFacadeRight</string>
	<key>histogramOperationShape</key>
	<string>decorationValueOrigin</string>
	<key>spineMediatorBorder</key>
	<string>cursorVariableFormat</string>
	<key>staticPaddingHead</key>
	<string>multiThreadBorder</string>
</dict>
</plist>
