<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticOperationDensity</key>
	<string>variantValueMode</string>
	<key>arithmeticWorkBorder</key>
	<string>fragmentInterpreterFrequency</string>
	<key>grayscaleAboutMode</key>
	<string>grayscaleAlongShape</string>
	<key>spriteTierBorder</key>
	<string>futureVisitorInteraction</string>
</dict>
</plist>
