<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardShaderTop</key>
	<string>nodeThanActivity</string>
	<key>frameParamRotation</key>
	<string>presenterWorkCoord</string>
	<key>handlerFrameworkAlignment</key>
	<string>agileRequestDirection</string>
	<key>intermediateStateType</key>
	<string>specifySliderDuration</string>
	<key>normalLayoutTag</key>
	<string>eventLevelSpacing</string>
	<key>resilientDecorationSkewx</key>
	<string>advancedMapColor</string>
	<key>sceneOutsideProcess</key>
	<string>pivotalDocumentName</string>
	<key>significantExceptionHead</key>
	<string>intensityNumberSpacing</string>
</dict>
</plist>
