<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignoredRepositoryTop</key>
	<string>sortedStateTag</string>
	<key>immediateParticleValidation</key>
	<string>capsuleByEnvironment</string>
	<key>loopFrameworkBottom</key>
	<string>seamlessGateDistance</string>
	<key>richtextDecoratorCount</key>
	<string>alertEnvironmentHead</string>
	<key>rowProcessTail</key>
	<string>resizableRichtextTag</string>
	<key>widgetBufferDepth</key>
	<string>zoneScopeLeft</string>
</dict>
</plist>
