<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensivePopupTop</key>
	<string>routeMementoDensity</string>
	<key>comprehensiveReducerDensity</key>
	<string>fragmentAdapterSpacing</string>
	<key>curveAroundNumber</key>
	<string>managerPerMemento</string>
	<key>durationFrameworkShade</key>
	<string>anchorValueTint</string>
	<key>graphicEnvironmentLeft</key>
	<string>cupertinoChallengeCoord</string>
	<key>iconOutsideParameter</key>
	<string>gesturedetectorBesideSingleton</string>
	<key>streamOutsideObserver</key>
	<string>constraintDuringPlatform</string>
</dict>
</plist>
