<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateAndInterpreter</key>
	<string>aspectratioContainInterpreter</string>
	<key>composableSceneName</key>
	<string>popupWithoutParameter</string>
	<key>configurationActionAcceleration</key>
	<string>descriptionPlatformBehavior</string>
	<key>consultativeBlocLocation</key>
	<string>statelessObserverType</string>
	<key>indicatorStrategyDistance</key>
	<string>frameActivityDepth</string>
	<key>localCursorDensity</key>
	<string>decorationMementoResponse</string>
	<key>particleSinceVisitor</key>
	<string>priorAxisSpacing</string>
	<key>queueParameterResponse</key>
	<string>iterativeLocalizationFeedback</string>
	<key>tabbarNumberPosition</key>
	<string>stepBufferBorder</string>
</dict>
</plist>
