<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedStateIndex</key>
	<string>criticalEffectRight</string>
	<key>assetAtCycle</key>
	<string>statelessLogarithmTheme</string>
	<key>cartesianModalCoord</key>
	<string>tabbarStrategyResponse</string>
	<key>delegateWorkBottom</key>
	<string>scrollableLayoutOpacity</string>
	<key>overlayStrategyInset</key>
	<string>signBeyondNumber</string>
	<key>permanentResourceInset</key>
	<string>interactiveRemainderForce</string>
	<key>resolverContainStyle</key>
	<string>iconDuringFunction</string>
	<key>routeAgainstFacade</key>
	<string>isolateAroundShape</string>
	<key>timerExceptMediator</key>
	<string>stampAsFlyweight</string>
	<key>transitionBridgeKind</key>
	<string>baselineFrameworkShade</string>
</dict>
</plist>
