<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintChainRotation</key>
	<string>viewOutsideVar</string>
	<key>localizationInterpreterIndex</key>
	<string>viewFromAdapter</string>
	<key>permissiveLossOpacity</key>
	<string>animationMementoVelocity</string>
	<key>singleMovementDepth</key>
	<string>beginnerParticlePosition</string>
</dict>
</plist>
