<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleAboutBuffer</key>
	<string>logarithmBufferAcceleration</string>
	<key>constraintByVar</key>
	<string>localButtonEdge</string>
	<key>consultativeSpotHue</key>
	<string>instructionFromMediator</string>
	<key>dedicatedNodeMomentum</key>
	<string>coordinatorContainParam</string>
	<key>permissiveHistogramDensity</key>
	<string>displayableTextAcceleration</string>
	<key>permissiveNavigationForce</key>
	<string>touchWithoutJob</string>
	<key>progressbarIncludeContext</key>
	<string>unsortedCompositionBorder</string>
	<key>robustBlocInterval</key>
	<string>resourceAroundBuffer</string>
	<key>scrollInterpreterEdge</key>
	<string>spotAmongMemento</string>
	<key>typicalAnimationLeft</key>
	<string>transitionOrMode</string>
</dict>
</plist>
