<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerActivityDepth</key>
	<string>tappableConsumerInterval</string>
	<key>cubitAlongVar</key>
	<string>pointAmongType</string>
	<key>eagerBaselineBehavior</key>
	<string>usedAsyncTheme</string>
	<key>easyProjectEdge</key>
	<string>collectionPrototypeDirection</string>
	<key>entitySingletonMomentum</key>
	<string>eagerCurveDensity</string>
	<key>fixedGrainKind</key>
	<string>completerAboutActivity</string>
	<key>modulusModeInset</key>
	<string>ephemeralOperationSkewy</string>
	<key>originalDescriptionCount</key>
	<string>capacitiesParamPressure</string>
	<key>painterNearTemple</key>
	<string>durationCompositeBorder</string>
	<key>presenterKindBound</key>
	<string>managerShapeSpeed</string>
</dict>
</plist>
