<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveVariantShade</key>
	<string>scrollAgainstProxy</string>
	<key>checkboxParamInset</key>
	<string>customCollectionColor</string>
	<key>graphAboutState</key>
	<string>catalystAgainstVar</string>
	<key>integerScopeSize</key>
	<string>eagerViewStyle</string>
	<key>iterativeTouchFrequency</key>
	<string>actionAlongCommand</string>
	<key>precisionParameterType</key>
	<string>rectCycleSkewx</string>
	<key>robustExceptionMode</key>
	<string>scaleOrVisitor</string>
	<key>shaderBesideAction</key>
	<string>iconDuringStrategy</string>
	<key>substantialHandlerLocation</key>
	<string>grainPerStructure</string>
</dict>
</plist>
