<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentMementoPressure</key>
	<string>sophisticatedErrorDensity</string>
	<key>directScaleContrast</key>
	<string>keyCoordinatorBottom</string>
	<key>invisibleSymbolPressure</key>
	<string>curveVariableMode</string>
	<key>listviewInterpreterScale</key>
	<string>futureInsideCommand</string>
	<key>prevDrawerCoord</key>
	<string>particleBridgeTransparency</string>
</dict>
</plist>
