<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncBlocTint</key>
	<string>durationContextTint</string>
	<key>backwardTableType</key>
	<string>featureUntilAdapter</string>
	<key>buttonDuringAction</key>
	<string>variantModeSpacing</string>
	<key>customizedRequestStyle</key>
	<string>futureJobBottom</string>
	<key>intuitiveUsecaseTop</key>
	<string>navigatorObserverState</string>
	<key>navigatorDuringAdapter</key>
	<string>compositionalTopicSize</string>
	<key>techniqueOperationDuration</key>
	<string>inheritedRiverpodOrientation</string>
	<key>textParamLeft</key>
	<string>delegateOutsideForm</string>
	<key>topicPerPrototype</key>
	<string>movementBeyondTier</string>
</dict>
</plist>
