<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAgainstAction</key>
	<string>hardResourceShape</string>
	<key>composableFutureFrequency</key>
	<string>interactiveExpandedSkewy</string>
	<key>grainFunctionTint</key>
	<string>intermediateMaterialCoord</string>
	<key>groupJobFlags</key>
	<string>eagerSwiftLocation</string>
	<key>subscriptionAtCycle</key>
	<string>radiusContainObserver</string>
	<key>substantialBaselineRotation</key>
	<string>effectObserverDuration</string>
</dict>
</plist>
