<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAroundStyle</key>
	<string>beginnerGridKind</string>
	<key>coordinatorStyleSaturation</key>
	<string>aspectStructureCount</string>
	<key>functionalWorkflowRight</key>
	<string>commonSpineResponse</string>
	<key>observerJobAppearance</key>
	<string>tabviewValueCenter</string>
	<key>previewAsStrategy</key>
	<string>animationPerBuffer</string>
	<key>subscriptionProcessState</key>
	<string>playbackStrategyIndex</string>
</dict>
</plist>
