<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignoredDialogsMode</key>
	<string>cosineVersusTask</string>
	<key>liteCaptionSkewx</key>
	<string>sensorDuringState</string>
	<key>playbackStructurePadding</key>
	<string>rowBridgeKind</string>
	<key>priorStoreFrequency</key>
	<string>cubitAmongProcess</string>
	<key>protectedViewRight</key>
	<string>vectorAsOperation</string>
	<key>usecaseValueSpacing</key>
	<string>customizedAsyncShape</string>
</dict>
</plist>
