<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureDespiteStyle</key>
	<string>litePopupAcceleration</string>
	<key>blocAdapterSkewx</key>
	<string>alphaValueCount</string>
	<key>channelsTempleHue</key>
	<string>draggableFrameTheme</string>
	<key>deferredModelIndex</key>
	<string>gesturedetectorNumberFeedback</string>
	<key>getxAndCommand</key>
	<string>tableModeSkewy</string>
	<key>integerFromNumber</key>
	<string>iterativeSingletonKind</string>
	<key>semanticsAmongVisitor</key>
	<string>requestKindOrigin</string>
	<key>subsequentZonePosition</key>
	<string>directManagerStatus</string>
</dict>
</plist>
