<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryAboutTemple</key>
	<string>descriptorJobShape</string>
	<key>gestureBeyondAdapter</key>
	<string>rowVariableOffset</string>
	<key>integerPatternValidation</key>
	<string>opaqueResourceColor</string>
	<key>normPhaseInterval</key>
	<string>multiIconSize</string>
	<key>sceneNearBuffer</key>
	<string>transformerBufferTag</string>
	<key>symbolBeyondFacade</key>
	<string>entityContainType</string>
	<key>variantEnvironmentAcceleration</key>
	<string>materialIncludeStage</string>
</dict>
</plist>
