<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyDelegateSize</key>
	<string>accessoryFromStructure</string>
	<key>nativeTickerTop</key>
	<string>segmentSystemVisible</string>
	<key>vectorByPattern</key>
	<string>apertureThroughParameter</string>
</dict>
</plist>
