<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSliderAcceleration</key>
	<string>momentumStrategyFrequency</string>
	<key>independentSliderEdge</key>
	<string>curveWithoutLevel</string>
	<key>liteRadiusScale</key>
	<string>scrollableHandlerDirection</string>
	<key>semanticSessionPosition</key>
	<string>permissiveTextIndex</string>
</dict>
</plist>
