<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAnimationAcceleration</key>
	<string>dependencyStyleForce</string>
	<key>interactorByBuffer</key>
	<string>statefulNearState</string>
	<key>modulusFormShade</key>
	<string>notificationThroughTier</string>
	<key>scrollPerPlatform</key>
	<string>pageviewSinceMethod</string>
	<key>smartSpriteShape</key>
	<string>hardBrushSaturation</string>
</dict>
</plist>
