<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grainJobOrientation</key>
	<string>rapidPositionIndex</string>
	<key>notifierAmongTemple</key>
	<string>constTaskDelay</string>
	<key>permanentLayoutValidation</key>
	<string>prismaticTickerColor</string>
	<key>playbackAsJob</key>
	<string>sortedEventIndex</string>
	<key>prismaticDialogsValidation</key>
	<string>hashActionForce</string>
	<key>prismaticTransitionMargin</key>
	<string>requiredBufferBrightness</string>
	<key>protectedUsecaseTop</key>
	<string>primaryCompleterInterval</string>
	<key>streamAgainstVisitor</key>
	<string>aspectInContext</string>
	<key>techniqueWorkTransparency</key>
	<string>sliderFlyweightTheme</string>
</dict>
</plist>
