<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnProcessAcceleration</key>
	<string>columnModeBound</string>
	<key>fixedDurationFeedback</key>
	<string>factoryBesidePattern</string>
	<key>fixedMusicBorder</key>
	<string>asynchronousDelegateRate</string>
	<key>routerUntilShape</key>
	<string>sineShapeSaturation</string>
	<key>statefulBufferContrast</key>
	<string>tabbarBesideFacade</string>
</dict>
</plist>
