<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveSegueAlignment</key>
	<string>unactivatedGramDistance</string>
	<key>durationViaMode</key>
	<string>multiplicationFunctionOpacity</string>
	<key>gridScopeSpeed</key>
	<string>asyncInStyle</string>
	<key>ignoredEventTop</key>
	<string>beginnerAspectSize</string>
	<key>interfaceMethodTag</key>
	<string>consumerVarDistance</string>
	<key>particleLevelHead</key>
	<string>synchronousMatrixHue</string>
	<key>semanticCurveBottom</key>
	<string>interactiveCapsuleMode</string>
	<key>serviceAboutFlyweight</key>
	<string>progressbarSingletonColor</string>
</dict>
</plist>
