<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>musicOutsideActivity</key>
	<string>ephemeralSensorHead</string>
	<key>offsetNearCommand</key>
	<string>iconFormTheme</string>
	<key>reductionShapeTag</key>
	<string>entityLevelDepth</string>
</dict>
</plist>
