<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasDespiteStyle</key>
	<string>disparateCompleterPressure</string>
	<key>delicateCanvasVisibility</key>
	<string>curveLevelValidation</string>
	<key>delicateCubeSaturation</key>
	<string>elasticEntityAcceleration</string>
	<key>ephemeralSizedboxCenter</key>
	<string>relationalControllerInteraction</string>
	<key>integerIncludePhase</key>
	<string>cubeTypeState</string>
</dict>
</plist>
