<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateAtComposite</key>
	<string>difficultListviewForce</string>
	<key>equalizationVariableTension</key>
	<string>staticBulletCount</string>
	<key>sizeInsideStructure</key>
	<string>sequentialAxisState</string>
	<key>skinStyleFrequency</key>
	<string>concurrentPresenterTag</string>
	<key>subscriptionDuringDecorator</key>
	<string>channelObserverPosition</string>
</dict>
</plist>
