<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationParamInset</key>
	<string>resolverStageVelocity</string>
	<key>customizedGrainAppearance</key>
	<string>accessibleVectorSkewy</string>
	<key>handlerThroughStage</key>
	<string>featurePerAction</string>
	<key>heroFromMediator</key>
	<string>hierarchicalSlashState</string>
	<key>intermediateCollectionTint</key>
	<string>commandLikeInterpreter</string>
	<key>reductionTempleContrast</key>
	<string>subpixelCycleFeedback</string>
	<key>resolverLikeFacade</key>
	<string>listviewAboutMemento</string>
	<key>sliderAroundComposite</key>
	<string>directlySensorBottom</string>
</dict>
</plist>
