<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveBuilderLeft</key>
	<string>reductionDespiteCommand</string>
	<key>greatProtocolPosition</key>
	<string>subpixelMediatorCoord</string>
	<key>protocolEnvironmentSaturation</key>
	<string>getxObserverTheme</string>
	<key>queryWorkStatus</key>
	<string>kernelWorkRate</string>
	<key>typicalChapterShade</key>
	<string>compositionalNodeColor</string>
	<key>utilCycleShade</key>
	<string>metadataEnvironmentStatus</string>
</dict>
</plist>
