<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchAdapterType</key>
	<string>listenerByFramework</string>
	<key>declarativeProjectDensity</key>
	<string>semanticToolTransparency</string>
	<key>dynamicAnimationBorder</key>
	<string>geometricButtonType</string>
	<key>heroSinceContext</key>
	<string>activityBufferRate</string>
	<key>layerAmongTemple</key>
	<string>granularGroupMode</string>
	<key>newestIsolateSkewx</key>
	<string>instructionShapeAcceleration</string>
	<key>progressbarTierValidation</key>
	<string>sliderAboutShape</string>
	<key>projectionVarCoord</key>
	<string>sequentialUtilAcceleration</string>
	<key>resourceThroughProcess</key>
	<string>secondServiceContrast</string>
	<key>unaryStructureFormat</key>
	<string>labelSinceProxy</string>
</dict>
</plist>
