<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAroundForm</key>
	<string>subscriptionStyleSpeed</string>
	<key>binaryLayerAppearance</key>
	<string>eventKindBound</string>
	<key>blocPlatformIndex</key>
	<string>uniformIsolateCoord</string>
	<key>constraintBeyondMemento</key>
	<string>sliderUntilOperation</string>
	<key>futureBeyondFlyweight</key>
	<string>permanentViewInterval</string>
	<key>inactiveTangentVelocity</key>
	<string>usecaseAboutChain</string>
	<key>kernelLevelForce</key>
	<string>fixedSliderRate</string>
</dict>
</plist>
