<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteConsumerInterval</key>
	<string>appbarBesideVar</string>
	<key>constMusicOffset</key>
	<string>checklistFacadeFormat</string>
	<key>liteCoordinatorTag</key>
	<string>taskMethodRotation</string>
	<key>materialRouterPressure</key>
	<string>navigationDuringComposite</string>
	<key>movementContextHue</key>
	<string>permanentTransitionHead</string>
	<key>resizableUnaryPressure</key>
	<string>entityInsideTemple</string>
	<key>sequentialGridviewTop</key>
	<string>widgetWithSingleton</string>
</dict>
</plist>
