<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderFunctionLeft</key>
	<string>controllerDecoratorAcceleration</string>
	<key>concurrentCompleterMomentum</key>
	<string>skirtBridgeColor</string>
	<key>inheritedSineRotation</key>
	<string>futureUntilTier</string>
	<key>routerThroughMediator</key>
	<string>captionThanActivity</string>
	<key>webAllocatorAlignment</key>
	<string>seamlessAccessoryDuration</string>
</dict>
</plist>
