<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivePositionStyle</key>
	<string>streamChainDuration</string>
	<key>aspectAndPlatform</key>
	<string>deferredTitleOrigin</string>
	<key>capsuleJobOrientation</key>
	<string>stateAwayAdapter</string>
	<key>concreteDurationBound</key>
	<string>uniqueStackRight</string>
	<key>delicateAsyncContrast</key>
	<string>requiredTouchSpacing</string>
	<key>exceptionOfPhase</key>
	<string>taskObserverVisible</string>
	<key>persistentInstructionMode</key>
	<string>previewEnvironmentVisible</string>
	<key>resourceBeyondOperation</key>
	<string>collectionContainCycle</string>
	<key>statefulFrameworkFormat</key>
	<string>zoneAsSingleton</string>
	<key>widgetStageLocation</key>
	<string>baselineNearBridge</string>
</dict>
</plist>
