<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeSpriteCoord</key>
	<string>factoryVisitorForce</string>
	<key>graphEnvironmentHue</key>
	<string>imageStrategyBound</string>
	<key>touchCommandVisible</key>
	<string>delegateSystemFlags</string>
	<key>usecaseExceptParam</key>
	<string>overlayKindAppearance</string>
</dict>
</plist>
