<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocVarDuration</key>
	<string>temporaryDurationPadding</string>
	<key>diffableFlexDensity</key>
	<string>heroCompositePadding</string>
	<key>directlySliderMode</key>
	<string>switchExceptProcess</string>
	<key>eventPhaseSpeed</key>
	<string>offsetTaskDistance</string>
	<key>modelAboutAction</key>
	<string>momentumViaFunction</string>
	<key>storageBufferFormat</key>
	<string>usageTempleColor</string>
	<key>sustainableTextOpacity</key>
	<string>tickerAtValue</string>
</dict>
</plist>
