<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionActivityFlags</key>
	<string>immediateCompletionName</string>
	<key>alphaSystemValidation</key>
	<string>baseAgainstTask</string>
	<key>coordinatorParameterDistance</key>
	<string>asyncThroughPlatform</string>
	<key>deferredControllerState</key>
	<string>sinkVarSize</string>
	<key>directlyCycleColor</key>
	<string>fusedMovementStatus</string>
	<key>functionalTechniqueAppearance</key>
	<string>cubitParamPosition</string>
	<key>injectionActionLeft</key>
	<string>chartInterpreterDelay</string>
	<key>matrixWithWork</key>
	<string>kernelOfComposite</string>
	<key>sampleMethodVelocity</key>
	<string>gramActivitySpeed</string>
</dict>
</plist>
