<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>injectionCompositeDensity</key>
	<string>equipmentScopeStatus</string>
	<key>intensityIncludeState</key>
	<string>symbolMediatorDepth</string>
	<key>lostMediaTension</key>
	<string>scrollableMultiplicationColor</string>
	<key>mediumSpriteSpeed</key>
	<string>cycleVariableType</string>
	<key>nodeJobStatus</key>
	<string>boxshadowStyleTransparency</string>
</dict>
</plist>
