<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseVarIndex</key>
	<string>secondShaderIndex</string>
	<key>configurationCompositeContrast</key>
	<string>precisionAtNumber</string>
	<key>finalProviderPosition</key>
	<string>sequentialBuilderVisibility</string>
	<key>lastObserverState</key>
	<string>pageviewNumberRotation</string>
	<key>memberTypeFlags</key>
	<string>opaqueImageCount</string>
	<key>progressbarThanInterpreter</key>
	<string>parallelMasterShape</string>
	<key>providerTierTint</key>
	<string>futureFunctionValidation</string>
	<key>sceneAmongStyle</key>
	<string>mobileIndicatorMomentum</string>
	<key>transformerOrEnvironment</key>
	<string>missionPerTemple</string>
	<key>vectorPhaseDelay</key>
	<string>repositoryExceptCycle</string>
</dict>
</plist>
