<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesSinceEnvironment</key>
	<string>customCollectionAppearance</string>
	<key>convolutionVersusMediator</key>
	<string>imageValueFeedback</string>
	<key>cubitModeInterval</key>
	<string>groupContextAlignment</string>
	<key>mediaSystemTension</key>
	<string>exceptionOutsideSystem</string>
	<key>originalBufferBottom</key>
	<string>secondChapterScale</string>
	<key>reducerDecoratorSkewy</key>
	<string>mobileAlignmentDistance</string>
	<key>skinUntilEnvironment</key>
	<string>playbackEnvironmentFeedback</string>
	<key>stateViaJob</key>
	<string>monsterOfPattern</string>
	<key>usecaseLayerPadding</key>
	<string>imageAndLayer</string>
</dict>
</plist>
