<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerPresenterFeedback</key>
	<string>standaloneStoreName</string>
	<key>boxshadowLevelSaturation</key>
	<string>segueViaJob</string>
	<key>crudeTextStatus</key>
	<string>builderInterpreterHead</string>
	<key>publicCurveBehavior</key>
	<string>transformerAlongScope</string>
	<key>resourceFacadeSkewy</key>
	<string>multiSlashContrast</string>
	<key>sizeShapeInteraction</key>
	<string>histogramVisitorTag</string>
</dict>
</plist>
