<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardControllerScale</key>
	<string>crucialEntityStyle</string>
	<key>controllerDecoratorSize</key>
	<string>newestResolverHead</string>
	<key>inactiveSegmentName</key>
	<string>labelBesideCommand</string>
	<key>iterativeInstructionBrightness</key>
	<string>arithmeticOfState</string>
	<key>mainTextSize</key>
	<string>equalizationOrStrategy</string>
	<key>radiusInterpreterRight</key>
	<string>functionalQueueRotation</string>
	<key>storePhaseFeedback</key>
	<string>titleNumberSkewx</string>
	<key>storyboardScopeBrightness</key>
	<string>sensorCommandSaturation</string>
	<key>uniformCompleterSaturation</key>
	<string>immediateIntensityFlags</string>
</dict>
</plist>
