<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAmongParameter</key>
	<string>sizeForType</string>
	<key>errorWithoutLayer</key>
	<string>appbarIncludeParameter</string>
	<key>pivotalOperationPadding</key>
	<string>blocTypeStyle</string>
	<key>popupByParam</key>
	<string>featureContextType</string>
	<key>presenterBridgePosition</key>
	<string>spriteBesideObserver</string>
	<key>responseExceptMediator</key>
	<string>singleNormAcceleration</string>
	<key>symbolOrKind</key>
	<string>decorationMediatorTag</string>
</dict>
</plist>
